/*!=========================
      Base grid styles
==========================*/
$footerHeight = 240px
$sidebarWidth = 215px
$sidebarWidthFuild = 18%

html, body
  height 100%
body
  font-family 'Open Sans', sans-serif
  font-size 16px
  line-height 1.2
  color $black
  background #fff
.container
  position relative
  min-height 100%
.main
  padding-bottom $footerHeight
  max-width 1400px
.m_footer
  position absolute
  left 0
  bottom 0
  width 100%
  height $footerHeight
.wrapper
  clearfix()
  position relative
  width 1170px
  height 100%
  padding-left 15px
  padding-right 15px
  margin-left auto
  margin-right auto
.row
  clearfix()
.helper
  display table-cell
  vertical-align middle
  width 100%
.col-1-of-3
  width 33.333%
  table-layout fixed
.col-1-of-2
  width 50%
.main
  padding-left $sidebarWidth
  @media screen and (max-width: 1200px)
    padding-left $sidebarWidthFuild
  @media screen and (max-width: 700px)
    padding-left 0
  .m_sidebar
    position fixed
    left 0
    top 0
    width $sidebarWidth
    @media screen and (max-width: 1200px)
      width $sidebarWidthFuild
    @media screen and (max-width: 700px)
      width 100%
      height 80px
      position relative !important
      top 0 !important
      left 0 !important
.body-layout,
.sidebar-layout
  smooth()
  background rgba(0,0,0,.6)
.body-layout
  position static
  left 0
  top 0
  width 0
  height 0
  z-index 20
  &.open
    position fixed
    width 100%
    height 100%

main.content
  display block
  padding-left 2%
  padding-right 2%
  padding-bottom 30px
  @media screen and (max-width: 420px)
    padding-left 5%
    padding-right 5%
  ol
    counter-reset item
    li
      position relative
      display block
      padding-left 30px
      margin-bottom 25px
      &:last-child
        margin-bottom 0
      &:before
        content: counter(item) ". "
        counter-increment item
        color $blue
        position absolute
        left 0
        top 0

  .headling
    padding 0 0 25px 0
    &.mobile-hidden
      padding-top 15px
    @media screen and (max-width: 568px)
      padding-top 25px
    & + ul
      padding-top 5%
      @media screen and (max-width: 568px)
        padding-top 5%
  .full
    position relative
    width 104%
    left -2%
    @media screen and (max-width: 420px)
      width 110%
      left -5%
  .article
    .headling
      padding-top 15px
  .lead-article-image
    img
      height auto
      width 100%
  .lead-image
    background-repeat no-repeat
    background-position 50% 50%
    background-size cover
    height 400px
    @media screen and (max-width: 568px)
      height 320px
  .columns
    clearfix()
    .left
      width 48%
      float left
      @media screen and (max-width: 700px)
        width 100%
        float none
    .right
      float right
      width 48%
      @media screen and (max-width: 700px)
        width 100%
        float none
      .image
        width 100%
        text-align center
        .thumb
          display block
          height 300px
          line-height 300px
          width 100%
          background-repeat no-repeat
          background-position 50%
          background-size cover
        .label
          margin-top 20px
          display inline-block
          vertical-align middle
          underline()
        &.video
          .thumb
            position relative
            &:before
              content ''
              position absolute
              left 0
              top 0
              width 100%
              height 100%
              background rgba(0,0,0,.3)
            &:after
              anim()
              icon()
              content '\e903'
              position absolute
              left 0
              top 0
              width 100%
              height 100%
              line-height 300px
              text-align center
              color #fff
              color rgba(255,2555,255,.5)
              font-size 50px
            &:hover:after
              color #fff


.m_services
  margin-bottom -30px
.service-links
  overflow hidden
.service-links .m_table-item
  float left

.service-links.elements-1 .m_table-item,
.service-links.elements-4 .m_table-item:last-child,
.service-links.elements-7 .m_table-item:last-child,
.service-links.elements-10 .m_table-item:last-child
  width 100%
.service-links.elements-2 .m_table-item,
.service-links.elements-5 .m_table-item:nth-child(4),
.service-links.elements-5 .m_table-item:nth-child(5),
.service-links.elements-8 .m_table-item:nth-child(7),
.service-links.elements-8 .m_table-item:nth-child(8)
  width 50%
  @media screen and (max-width: 700px)
    width 100%

.service-links.elements-3 .m_table-item,
.service-links.elements-4 .m_table-item,
.service-links.elements-5 .m_table-item,
.service-links.elements-6 .m_table-item,
.service-links.elements-7 .m_table-item,
.service-links.elements-8 .m_table-item,
.service-links.elements-9 .m_table-item,
.service-links.elements-10 .m_table-item
  width 33.333%
  @media screen and (max-width: 700px)
    width 100%
.mobile-hidden
  @media screen and (max-width: 700px)
    display none !important