<div class="m_footer">
    <div class="left">
        <div class="copy">© 2016 Акционерное общество «СПАРК».</div>
        <div class="locate">Россия, Санкт-Петербург, ул. Пилотов, 12,</div>
        <div class="at-map">
            <a href="#">Смотреть на карте</a>
        </div>
        <div class="contacts">
            <div class="tel">Тел.: <span>+7 (812) 704-16-44</span></div>
            <div class="fax">Факс: <span>+7 (812) 334-49-60</span></div>
            <div class="email">Email: <a href="mailto:info@sparc-npo.ru">info@sparc-npo.ru</a></div>
        </div>
    </div>
    <div class="nav">
        <ul>
            <li><a href="#"><span>СПАРК</span></a></li>
            <li><a href="#"><span>НПО СПАРК</span></a></li>
            <li><a href="#"><span>Пресс-центр</span></a></li>
            <li><a href="#"><span>Карьера</span></a></li>
            <li><a href="#"><span>Контактная информация</span></a></li>
        </ul>
        <ul>
            <li><a href="#"><span>Продукция</span></a></li>
            <li><a href="#"><span>Услуги</span></a></li>
        </ul>
    </div>
    <div class="developed">Разработка сайта <a target="_blank" href="http://pikmedia.ru/">«Пикмедиа»</a></div>
    <!-- Mobile menu trigger -->
    <div class="mobile-menu-trigger invert">
        <span></span>
    </div>
    <!-- end Mobile menu trigger -->
</div>