<div class="m_map-menu">
    <div class="search">
        <form>
            <input class="text" type="text" placeholder="Поиск">
            <button class="submit" type="submit"><span class="icon-search"></span></button>
        </form>
    </div>
    <div class="lead-nav">
        <ul>
            <li><a href="http://frontende.info/sparcavia.com/">Главная</a></li>
            <li><a href="#">Карьера</a></li>
            <li><a href="#">Пресс-центр</a></li>
            <li><a href="#">Контактная <br>информация</a></li>
        </ul>
    </div>
    <div class="all-links">
        <div class="col">
            <div class="category">
                <a href="#">СПАРК</a>
            </div>
            <ul>
                <li><a href="#">Руководство</a></li>
                <li><a href="#">История</a></li>
                <li><a href="#">Деятельность компании</a></li>
            </ul>
        </div>
        <div class="col">
            <div class="category">
                <a href="#">НПО СПАРК</a>
            </div>
            <ul>
                <li><a href="#">Руководство</a></li>
                <li><a href="#">Отдел новой техники</a></li>
                <li><a href="#">Отдел инновационных <br>технологий</a></li>
                <li><a href="#">Учебный центр</a></li>
            </ul>
        </div>
        <div class="col">
            <div class="category">
                <a href="#">Услуги</a>
            </div>
            <ul>
                <li><a href="#">Ремонт</a></li>
                <li><a href="#">Продажа</a></li>
                <li><a href="#">Модернизация</a></li>
                <li><a href="#">Продление ресурсов</a></li>
                <li><a href="#">Техническая поддержка</a></li>
                <li><a href="#">Переоборудование <br>салонов</a></li>
            </ul>
        </div>
        <div class="col">
            <div class="category">
                <a href="#">Продукция</a>
            </div>
            <ul>
                <li><a href="#">УИС-АТ</a></li>
                <li><a href="#">КПК</a></li>
                <li><a href="#">КПС</a></li>
                <li><a href="#">ИП (измерительные пульты)</a></li>
                <li><a href="#">ИП-3 (СПАРК-ВИДЕО)</a></li>
                <li><a href="#">ИП-4 (СПАРК-КОНУС)</a></li>
                <li><a href="#">УПГ-8нов</a></li>
            </ul>
        </div>
    </div>
</div>