<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
    <div class="modal-header">Отправьте запрос нашему менеджеру</div>
    <form class="form">
        <div class="hgroup">
            <input class="text" type="text" placeholder="Ваше имя">
        </div>
        <div class="hgroup">
            <input class="email" type="email" placeholder="Ваш e-mail">
        </div>
        <div class="hgroup">
            <div class="remark">Если хотите чтобы мы Вам перезвонили, укажите свой номер телефона</div>
            <input class="tel" type="tel" placeholder="Номер телефона">
        </div>
        <div class="hgroup">
            <textarea class="textarea" placeholder="Напишите Ваш вопрос"></textarea>
        </div>
        <div class="hgroup">
            <div class="fileUpload">
                <span>Прикрепить файл</span>
                <input type="file" class="upload" />
            </div>
            <div class="uploaded" style="display: none">Файл добавлен!</div>
        </div>
        <div class="hgroup">
            <button type="submit" class="submit">Отправить запрос</button>
        </div>
    </form>
</div>