//============== VARIABLES ==============//

$min-width = 960px
$footer-height = 100px
$footer-margin-top = 50px

// Colors
$blue = #0c51a1
$pink = #ed1650
$black = #141414
$blue-dark = #052040
$gray = #8d8d8d
$gray-dark = #404040


$border-black = rgba(0,0,0,.4)
$border-blue = rgba(12, 81, 161, .4)
$border-white = rgba(255, 255, 255, .4)

$bg-blue-rgba = rgba(12, 81, 161, .8)
$bg-blue-dark-rgba = rgba(5, 32, 64, .8)

