<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>Деятельность компании</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <link href="../styles/vendor.css" rel="stylesheet" media="all">
    <link href="../styles/app.css" rel="stylesheet" media="all">
    <!-- Javascript -->
    <script src="../scripts/plugins.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body>
    <div class="body-layout"></div>
    <div class="container">
        <div class="main">
            //= modules/m_map-menu.html
            //= modules/m_sidebar.html
            <div class="m_content">
                <!-- Header -->
                <div class="m_header-inner">
                    <div class="top">
                        //= modules/header-menu.html
                    </div>
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">СПАРК</a></li>
                            <li><span>Деятельность компании</span></li>
                        </ul>
                        <div class="mobile">
                            <a href="#">Деятельность компании</a>
                        </div>
                    </div>
                </div>
                <!-- end Header -->

                <!-- Section nav -->
                <div class="m_section-nav">
                    <ul>
                        <li><a href="#"><span>Руководство</span></a></li>
                        <li><a href="#"><span>История</span></a></li>
                        <li class="current"><a href="#"><span>Деятельность компании</span></a></li>
                    </ul>
                </div>
                <!-- end Section nav -->

                <!-- Main content -->
                <main class="content">
                    <div class="headling mobile-hidden pt0">Деятельность компании</div>
                    <ul>
                        <li>Капитальный ремонт вертолетов Ми-8/Ми-17 всех серий и модификаций и комплектующих к ним</li>
                        <li>Капитальный ремонт вертолетов Ка-32Т и Ка-32С и комплектующих к ним</li>
                        <li>Капитальный ремонт вертолетов Ка-27 и комплектующих к ним</li>
                        <li>Модернизация вертолетов и установка дополнительного оборудования в процессе ремонта при технической поддержке МВЗ им. М.Л.Миля</li>
                        <li>Переоборудование вертолетов Ми-8 в грузопассажирский и пассажирский варианты, салоны VIP при технической поддержке МВЗ им. М.Л. Миля. Современный дизайн, экстерьеры и интерьеры</li>
                        <li>Ремонт вертолетов на базе Заказчика</li>
                        <li>Техническая поддержка эксплуатации вертолетов. Поставка агрегатов, запасных частей, оборудования и материалов</li>
                        <li>Услуги по организации ремонта двигателей, главных редукторов, вспомогательных силовых установок</li>
                        <li>Создание на территории Заказчика сервисных центров по техническому обслуживанию и ремонту вертолетов</li>
                        <li>Обучение инженерно-технического и летного состава на вертолетах в собственном специализированном вертолетном учебном центре</li>
                        <li>Выполнение ТО вертолетов зарубежного производства Robinson R-44 и Eurocopter AS-350 по всем видам работ. Поставка агрегатов, запасных частей, оборудования и материалов</li>
                    </ul>
                    <p class="lead-paragraph">В течение последних лет компания вложила значительные финансовые средства и усилия в реконструкцию и модернизацию производства.</p>
                    <p>Сегодня СПАРК оснащен самым современным оборудованием.</p>
                    <p>В цехах и лабораториях установлены уникальные стенды для испытаний агрегатов и оборудования. Введены в строй новые участки сборки вертолетов, ремонта агрегатов, доки покраски вертолетов, соответствующие современным международным стандартам.</p>
                    <p>На СПАРКе обеспечен полный цикл технологических процессов ремонта: от полной разборки и промывки вертолета и комплектующих до сборки, покраски, наземных и летных испытаний.</p>
                </main>
                <!-- end Main content -->
            </div>
        </div>
        //= modules/m_footer.html
    </div>
</body>
</html>