<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>Отдел новой техники</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <link href="../styles/vendor.css" rel="stylesheet" media="all">
    <link href="../styles/app.css" rel="stylesheet" media="all">
    <!-- Javascript -->
    <script src="../scripts/plugins.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body>
    <div class="body-layout"></div>
    <div class="container">
        <div class="main">
            //= modules/m_map-menu.html
            //= modules/m_sidebar.html
            <div class="m_content">
                <!-- Header -->
                <div class="m_header-inner">
                    <div class="top">
                        //= modules/header-menu.html
                    </div>
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">СПАРК</a></li>
                            <li><span>Отдел новой техники</span></li>
                        </ul>
                        <div class="mobile">
                            <a href="#">Отдел новой техники</a>
                        </div>
                    </div>
                </div>
                <!-- end Header -->

                <!-- Section nav -->
                <div class="m_section-nav">
                    <ul>
                        <li class="current"><a href="#"><span>Руководство</span></a></li>
                        <li><a href="#"><span>Отдел новой техники</span></a></li>
                        <li><a href="#"><span>Отдел инновационных технологий</span></a></li>
                        <li><a href="#"><span>Учебный центр</span></a></li>
                    </ul>
                </div>
                <!-- end Section nav -->

                <!-- Main content -->
                <main class="content">
                    <div class="headling mobile-hidden pt0">Отдел новой техники</div>
                    <p class="lead-paragraph">Основным направлением деятельности Отдела новой техники является:</p>
                    <p>разработка и производство измерительных систем и контрольно-проверочных комплексов нового поколения, предназначенных для диагностики и испытания оборудования, узлов и агрегатов техники любого предназначения</p>
                    <ul>
                        <li><a href="#"><span>Универсальные измерительные системы семейства УИС</span></a></li>
                        <li><a href="#"><span>Контрольно-проверочные стенды и комплексы семейства КПК</span></a></li>
                    </ul>
                    <p>НПО «СПАРК» имеет Государственные сертификаты и лицензии на право разработки и производства контрольно-проверочных стендов. В НПО «СПАРК» все права на выполняемые работы защищены патентами и авторскими свидетельствами.</p>
                    <p>Все контрольно-проверочное оборудование НПО «СПАРК» проходит апробацию и опытную эксплуатацию в цехах и лабораториях ведущего авиаремонтного предприятия России - ОАО «СПАРК».</p>
                </main>
                <!-- end Main content -->
            </div>
        </div>
        //= modules/m_footer.html
    </div>
</body>
</html>