<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>СПАРК</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <link href="../styles/vendor.css" rel="stylesheet" media="all">
    <link href="../styles/app.css" rel="stylesheet" media="all">
    <!-- Javascript -->
    <script src="../scripts/plugins.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body>
    <div class="body-layout"></div>
    <div class="container">
        <div class="main">
            //= modules/m_map-menu.html
            //= modules/m_sidebar.html
            <div class="m_content">
                <!-- Header -->
                <div class="m_header-inner">
                    <div class="top">
                        //= modules/header-menu.html
                    </div>
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">Главная</a></li>
                            <li><span>СПАРК</span></li>
                        </ul>
                        <div class="mobile">
                            <a href="#">СПАРК</a>
                        </div>
                    </div>
                </div>
                <!-- end Header -->

                <!-- Main content -->
                <main class="content">

                    <div class="headling mobile-hidden">СПАРК — ведущий завод России, специализирующийся по ремонту вертолетов</div>

                    <!-- Tabs control -->
                    <div class="m_tabs-control-small mobile-hidden">
                        <div class="m_section-nav">
                            <ul>
                                <li><a href="#"><span>Руководство</span></a></li>
                                <li><a href="#"><span>История</span></a></li>
                                <li><a href="#"><span>Деятельность компании</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end Tabs control -->

                    <div class="m_lead-intro full" style="background-image: url('../images/content/about-2.jpg')">
                        <div class="slogan">
                            <div class="helper"><span>Мы даем вертолетам <br>новую жизнь</span></div>
                        </div>
                    </div>

                    <p>В течение последних лет компания вложила значительные финансовые средства и усилия в реконструкцию и модернизацию производства.</p>
                    <p>В цехах и лабораториях установлены уникальные стенды для испытаний агрегатов и оборудования.</p>
                    <p>Введены в строй новые участки сборки вертолетов, ремонта агрегатов, доки покраски вертолетов, соответствующие современным международным стандартам.</p>
                    <p>На СПАРКе обеспечен полный цикл технологических процессов ремонта: от полной разборки и промывки вертолета и комплектующих до сборки, покраски, наземных и летных испытаний.</p>
                    <div class="columns">
                        <div class="left">
                            <h3>Ключевые компетенции СПАРКА</h3>
                            <ul>
                                <li>СПАРК оснащен самым современным оборудованием.</li>
                                <li>В цехах и лабораториях установлены уникальные стенды для испытаний агрегатов и оборудования.</li>
                                <li>Введены в строй новые участки сборки вертолетов, ремонта агрегатов, доки покраски вертолетов, соответствующие современным международным стандартам.</li>
                            </ul>
                            <div class="m_pdf"><a href="#">Скачать презентацию (PDF, 12 Мб)</a></div>
                        </div>
                        <div class="right">
                            <div class="image video">
                                <a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="thumb popup-youtube" style="background-image: url('../images/content/video.jpg')"></a>
                                <a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="label popup-youtube"><span>Смотреть видео презентацию</span></a>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- end Main content -->
            </div>
        </div>
        //= modules/m_footer.html
    </div>
</body>
</html>