<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>Контакты</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <link href="../styles/vendor.css" rel="stylesheet" media="all">
    <link href="../styles/app.css" rel="stylesheet" media="all">
    <!-- Javascript -->
    <script src="../scripts/plugins.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src="../scripts/app.js"></script>
    <!-- Only for map page -->
    <script>

    </script>
</head>
<body>
    <div class="body-layout"></div>
    <div class="container">
        <div class="main">
            //= modules/m_map-menu.html
            //= modules/m_sidebar.html
            <div class="m_content">
                <!-- Header -->
                <div class="m_header-inner">
                    <div class="top">
                        //= modules/header-menu.html
                    </div>
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">Главная</a></li>
                            <li><span>Контактная информация</span></li>
                        </ul>
                        <div class="mobile">
                            <a href="#">Контактная информация</a>
                        </div>
                    </div>
                </div>
                <!-- end Header -->

                <!-- Main content -->
                <main class="content">

                    <div class="headling mobile-hidden">Контактная информация</div>


                    <!-- Tabs control -->
                    <div class="m_tabs-control-small">
                        <div class="m_section-nav">
                            <ul>
                                <li class="tab-control current"><a href="#"><span>Санкт-Петербург</span></a></li>
                                <li class="tab-control"><a href="#"><span>Москва</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end Tabs control -->

                    <!-- Tabs content -->



                    <div class="m_tabs-content">
                        <div class="tabs-item current">
                            <div class="m_contacts-item">
                                <div class="info">
                                    <div class="locate"><span class="icon-locate"></span>196210, Санкт-Петербург, ул. Пилотов, д. 12</div>
                                    <div class="at-map"><a href="#"><span>Показать на карте</span></a></div>
                                    <div class="tels">
                                        <span class="icon-tel"></span>
                                        <p>+7 (812) 704-16-06</p>
                                        <p>+7 (812) 704-16-02</p>
                                    </div>
                                    <div class="email">
                                        <span class="icon-email"></span>
                                        <a href="mailto:info@sparc.spb.ru">info@sparc.spb.ru</a>
                                    </div>
                                </div>
                                <div class="managers">
                                    <div class="item">
                                        <div class="image" style="background-image: url('../images/content/personal/1.jpg')"></div>
                                        <div class="manager-info">
                                            <div class="from">ПЕРВЫЙ ЗАМЕСТИТЕЛЬ ГЕНЕРАЛЬНОГО ДИРЕКТОРА</div>
                                            <div class="name">Лукьянов Евгений Васильевич</div>
                                            <div class="tel">Тел.: <span>+7 (812) 704-16-41</span></div>
                                            <div class="email">Email: <a href="mailto:info@sparc.spb.ru">info@sparc.spb.ru</a></div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="image" style="background-image: url('../images/content/personal/2.jpg')"></div>
                                        <div class="manager-info">
                                            <div class="from">ЭКСПОРТНЫЙ ОТДЕЛ</div>
                                            <div class="name">Мовсесян Артём Бахшиевич</div>
                                            <div class="status">(Начальник отдела)</div>
                                            <div class="tel">Тел.: <span>+7 (812) 704-16-27</span></div>
                                            <div class="email">Email: <a href="mailto:artembm@sparc.spb.ru">artembm@sparc.spb.ru</a></div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="image" style="background-image: url('../images/content/personal/3.jpg')"></div>
                                        <div class="manager-info">
                                            <div class="from">ОТДЕЛ ВНУТРЕННИХ ПРОДАЖ</div>
                                            <div class="name">Кибакин Павел Валерьевич</div>
                                            <div class="status">(Начальник отдела)</div>
                                            <div class="tel">Тел.: <span>+7 (812) 704-16-08</span></div>
                                            <div class="email">Email: <a href="mailto:PavelVK@sparc.spb.ru">PavelVK@sparc.spb.ru</a></div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="image" style="background-image: url('../images/content/personal/4.jpg')"></div>
                                        <div class="manager-info">
                                            <div class="from">СЛУЖБА ПЕРСОНАЛА</div>
                                            <div class="name">Ершова Людмила Евгеньевна</div>
                                            <div class="status">(Начальник отдела)</div>
                                            <div class="tel">Тел.: <span>+7 (812) 704-16-48</span></div>
                                            <div class="email">Email: <a href="mailto:personnel@sparc.spb.ru">personnel@sparc.spb.ru</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="map full" id="map-canvas" data-coord-x="59.810428" data-coord-y="30.304424" data-zoom="14"></div>
                            </div>
                        </div>
                        <div class="tabs-item">
                            <div class="m_contacts-item">
                                <div class="info">
                                    <div class="locate"><span class="icon-locate"></span>196210, Санкт-Петербург, ул. Пилотов, д. 12</div>
                                    <div class="at-map"><a href="#"><span>Показать на карте</span></a></div>
                                    <div class="tels">
                                        <span class="icon-tel"></span>
                                        <p>+7 (812) 704-16-06</p>
                                        <p>+7 (812) 704-16-02</p>
                                    </div>
                                    <div class="email">
                                        <span class="icon-email"></span>
                                        <a href="mailto:info@sparc.spb.ru">info@sparc.spb.ru</a>
                                    </div>
                                </div>
                                <div class="managers">
                                    <div class="item">
                                        <div class="image" style="background-image: url('../images/content/personal/1.jpg')"></div>
                                        <div class="manager-info">
                                            <div class="from">ПЕРВЫЙ ЗАМЕСТИТЕЛЬ ГЕНЕРАЛЬНОГО ДИРЕКТОРА</div>
                                            <div class="name">Лукьянов Евгений Васильевич</div>
                                            <div class="tel">Тел.: <span>+7 (812) 704-16-41</span></div>
                                            <div class="email">Email: <a href="mailto:info@sparc.spb.ru">info@sparc.spb.ru</a></div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="image" style="background-image: url('../images/content/personal/2.jpg')"></div>
                                        <div class="manager-info">
                                            <div class="from">ЭКСПОРТНЫЙ ОТДЕЛ</div>
                                            <div class="name">Мовсесян Артём Бахшиевич</div>
                                            <div class="status">(Начальник отдела)</div>
                                            <div class="tel">Тел.: <span>+7 (812) 704-16-27</span></div>
                                            <div class="email">Email: <a href="mailto:artembm@sparc.spb.ru">artembm@sparc.spb.ru</a></div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="image" style="background-image: url('../images/content/personal/3.jpg')"></div>
                                        <div class="manager-info">
                                            <div class="from">ОТДЕЛ ВНУТРЕННИХ ПРОДАЖ</div>
                                            <div class="name">Кибакин Павел Валерьевич</div>
                                            <div class="status">(Начальник отдела)</div>
                                            <div class="tel">Тел.: <span>+7 (812) 704-16-08</span></div>
                                            <div class="email">Email: <a href="mailto:PavelVK@sparc.spb.ru">PavelVK@sparc.spb.ru</a></div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="image" style="background-image: url('../images/content/personal/4.jpg')"></div>
                                        <div class="manager-info">
                                            <div class="from">СЛУЖБА ПЕРСОНАЛА</div>
                                            <div class="name">Ершова Людмила Евгеньевна</div>
                                            <div class="status">(Начальник отдела)</div>
                                            <div class="tel">Тел.: <span>+7 (812) 704-16-48</span></div>
                                            <div class="email">Email: <a href="mailto:personnel@sparc.spb.ru">personnel@sparc.spb.ru</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="map full" id="map-canvas-2" data-coord-x="50.776133" data-coord-y="30.304424" data-zoom="14"></div>
                        </div>
                    </div>
                    <!-- end Tabs content -->
                </main>
                <!-- end Main content -->
            </div>
        </div>
        //= modules/m_footer.html
    </div>
</body>
</html>