<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>Главная</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <link href="../styles/vendor.css" rel="stylesheet" media="all">
    <link href="../styles/app.css" rel="stylesheet" media="all">
    <!-- Javascript -->
    <script src="../scripts/plugins.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body>
    <div class="body-layout"></div>
    <div class="container">
        <div class="main">
            //= modules/m_map-menu.html
            //= modules/m_sidebar.html
            <div class="m_content">
                //= modules/m_header.html

                <div class="m_lead-intro">
                    <div class="slogan">
                        <div class="helper"><span>Мы даем вертолетам <br>новую жизнь</span></div>
                    </div>
                </div>

                <div class="m_lead-intro-small">
                    <div class="m_table-item">
                        <a href="#" class="image" style="background-image: url('../images/content/lead-small-1.jpg')"></a>
                        <div class="helper-parent">
                            <div class="helper">
                                <div class="title"><a href="#"><span>Санкт-Петербургская<br>авиаремонтная компания</span></a></div>
                                <div class="detail"><a href="#">Подробнее</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="m_table-item">
                        <a href="#" class="image" style="background-image: url('../images/content/lead-small-2.jpg')"></a>
                        <div class="helper-parent">
                            <div class="helper">
                                <div class="title"><a href="#"><span>Научно-производственное<br>объединение «СПАРК»</span></a></div>
                                <div class="detail"><a href="#">Подробнее</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m_pressroom">
                    <div class="headling">Пресс-центр</div>
                    <div class="m_carousel-default">
                        <div class="carousel-default-single">
                            <div class="slide">
                                <div class="image" style="background-image: url('../images/content/lead-carousel/4.jpg')"></div>
                                <div class="description">
                                    <a href="#"><span>Премия Ассоциации вертолетной идустрии за 2014, в номинации Инженер-констуктор</span></a>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="image" style="background-image: url('../images/content/lead-carousel/1.jpg')"></div>
                                <div class="description">
                                    <a href="#"><span>Премия Ассоциации вертолетной идустрии за 2014, в номинации Инженер-констуктор</span></a>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="image" style="background-image: url('../images/content/lead-carousel/2.jpg')"></div>
                                <div class="description">
                                    <a href="#"><span>Премия Ассоциации вертолетной идустрии за 2014, в номинации Инженер-констуктор</span></a>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="image" style="background-image: url('../images/content/lead-carousel/3.jpg')"></div>
                                <div class="description">
                                    <a href="#"><span>Премия Ассоциации вертолетной идустрии за 2014, в номинации Инженер-констуктор</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m_lead-news">
                    <div class="m_item">
                        <div class="image">
                            <a href="#" style="background-image: url('../images/content/news/3.jpg')"></a>
                        </div>
                        <div class="description">
                            <div class="title">
                                <a href="#"><span>Сервисный центр авторизованный производителем вертолетов ROBINSON</span></a>
                            </div>
                            <div class="post-date">11 марта 2016</div>
                        </div>
                    </div>
                    <div class="m_item">
                        <div class="image">
                            <a href="#" style="background-image: url('../images/content/news/4.jpg')"></a>
                        </div>
                        <div class="description">
                            <div class="title">
                                <a href="#"><span>«СПАРК» выполнили первый контракт с Министерством морского флота Мексики</span></a>
                            </div>
                            <div class="post-date">10 февраля 2016</div>
                        </div>
                    </div>
                    <div class="m_item">
                        <div class="image">
                            <a href="#" style="background-image: url('../images/content/news/5.jpg')"></a>
                        </div>
                        <div class="description">
                            <div class="title">
                                <a href="#"><span>Россия и Индия начали реализовывать проект производства Ка-226Т</span></a>
                            </div>
                            <div class="post-date">8 февраля 2016</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        //= modules/m_footer.html
    </div>
</body>
</html>