<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>Руководство</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <link href="../styles/vendor.css" rel="stylesheet" media="all">
    <link href="../styles/app.css" rel="stylesheet" media="all">
    <!-- Javascript -->
    <script src="../scripts/plugins.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body>
    <div class="body-layout"></div>
    <div class="container">
        <div class="main">
            //= modules/m_map-menu.html
            //= modules/m_sidebar.html
            <div class="m_content">
                <!-- Header -->
                <div class="m_header-inner">
                    <div class="top">
                        //= modules/header-menu.html
                    </div>
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">СПАРК</a></li>
                            <li><span>Руководство</span></li>
                        </ul>
                        <div class="mobile">
                            <a href="#">Руководство</a>
                        </div>
                    </div>
                </div>
                <!-- end Header -->

                <!-- Section nav -->
                <div class="m_section-nav">
                    <ul>
                        <li class="current"><a href="#"><span>Руководство</span></a></li>
                        <li><a href="#"><span>История</span></a></li>
                        <li><a href="#"><span>Деятельность компании</span></a></li>
                    </ul>
                </div>
                <!-- end Section nav -->

                <!-- Main content -->
                <main class="content">
                    <div class="headling mobile-hidden pt0">Руководство</div>
                    <div class="m_leadership">
                        <div class="item">
                            <div class="image" style="background-image: url('../images/content/personal/5.jpg')"></div>
                            <div class="manager-info">
                                <div class="from">Генеральный директор АО «СПАРК»</div>
                                <div class="name">Сергей Михайлович Арцыман</div>
                                <div class="birth">
                                    <span class="title">Родился:</span>
                                    <div class="value">03.06.1971 г.</div>
                                </div>
                                <div class="education">
                                    <div class="title">Образование:</div>
                                    <div class="value">
                                        <p>Белорусская государственная политехническая академия (приборостроительный факультет). </p>
                                        <p>Белорусский государственный экономический университет (специальность: мировая экономика и международные экономические отношения).                                         </p>
                                        <p>Санкт-Петербургский государственный университет гражданской авиации (специальность: экономика и управление на предприятии (транспорта))</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image" style="background-image: url('../images/content/personal/6.jpg')"></div>
                            <div class="manager-info">
                                <div class="from">Советник генерального директора АО «СПАРК»</div>
                                <div class="name">Юрий Александрович Борисов</div>
                                <div class="birth">
                                    <span class="title">Родился:</span>
                                    <div class="value">17.05.1956 г.</div>
                                </div>
                                <div class="education">
                                    <div class="title">Образование:</div>
                                    <div class="value">
                                        <p>Рижский Краснознаменный институт инженеров ГА.<br>Военно-Воздушная академия им. Н.Е. Жуковского.</p>
                                        <p>Кандидат психологических наук.</p>
                                        <p>Кандидат технических наук.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- end Main content -->
            </div>
        </div>
        //= modules/m_footer.html
    </div>
</body>
</html>