<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>Новости</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <link href="../styles/vendor.css" rel="stylesheet" media="all">
    <link href="../styles/app.css" rel="stylesheet" media="all">
    <!-- Javascript -->
    <script src="../scripts/plugins.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body>
    <div class="body-layout"></div>
    <div class="container">
        <div class="main">
            //= modules/m_map-menu.html
            //= modules/m_sidebar.html
            <div class="m_content">
                <!-- Header -->
                <div class="m_header-inner">
                    <div class="top">
                        //= modules/header-menu.html
                    </div>
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">Главная</a></li>
                            <li><span>Пресс-центр</span></li>
                        </ul>
                        <div class="mobile">
                            <a href="#">Пресс-центр</a>
                        </div>
                    </div>
                </div>
                <!-- end Header -->

                <!-- Main content -->
                <main class="content">
                    <div class="m_page-header">
                        <h2 class="headling mobile-hidden inline">Пресс-центр</h2>

                        <div class="m_section-nav">
                            <ul>
                                <li class="current"><a href="#"><span>2016</span></a></li>
                                <li><a href="#"><span>2015</span></a></li>
                                <li><a href="#"><span>2014</span></a></li>
                                <li><a href="#"><span>2013</span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="m_news-list full">
                        <!-- Single -->
                        <div class="item single">
                            <div class="m_item">
                                <div class="image">
                                    <a href="#" style="background-image: url('../images/content/news/1.jpg')"></a>
                                </div>
                                <div class="description">
                                    <div class="parent-helper">
                                        <div class="helper">
                                            <div class="title">
                                                <a href="#"><span>Премия Ассоциации вертолетной индустрии за 2014 год, в номинации «Инженер-конструктор</span></a>
                                            </div>
                                            <div class="post-date">11 марта 2016</div>
                                            <p>Делегация Республики Беларусь во главе с Премьер-министром Андреем Кобяковым в ходе официального визита в Республику Татарстан посетила Казанский вертолетный завод (КВЗ), входящий в холдинг «Вертолеты России» Госкорпорации Ростех. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end Single -->

                        <!-- 1 of 3 -->
                        <div class="item col-1-of-3">
                            <div class="m_item">
                                <div class="description">
                                    <div class="title">
                                        <a href="#"><span>Сервисный центр авторизованный производителем вертолетов ROBINSON</span></a>
                                    </div>
                                    <div class="post-date">11 марта 2016</div>
                                </div>
                                <div class="image">
                                    <a href="#" style="background-image: url('../images/content/news/3.jpg')"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item col-1-of-3">
                            <div class="m_item">
                                <div class="description">
                                    <div class="title">
                                        <a href="#"><span>Сервисный центр авторизованный производителем вертолетов ROBINSON</span></a>
                                    </div>
                                    <div class="post-date">11 марта 2016</div>
                                </div>
                                <div class="image">
                                    <a href="#" style="background-image: url('../images/content/news/4.jpg')"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item col-1-of-3">
                            <div class="m_item">
                                <div class="description">
                                    <div class="title">
                                        <a href="#"><span>Сервисный центр авторизованный производителем вертолетов ROBINSON</span></a>
                                    </div>
                                    <div class="post-date">11 марта 2016</div>
                                </div>
                                <div class="image">
                                    <a href="#" style="background-image: url('../images/content/news/5.jpg')"></a>
                                </div>
                            </div>
                        </div>
                        <!-- end 1 of 3 -->

                        <!-- Single -->
                        <div class="item single">
                            <div class="m_item">
                                <div class="description">
                                    <div class="parent-helper">
                                        <div class="helper">
                                            <div class="title">
                                                <a href="#"><span>Делегация Республики Беларусь во главе с Премьер-министром Андреем Кобяковым в ходе официального визита в Республику Татарстан посетила Казанский вертолетный завод (КВЗ), входящий в холдинг «Вертолеты России» Госкорпорации Ростех. </span></a>
                                            </div>
                                            <div class="post-date">11 марта 2016</div>
                                            <p>Делегация Республики Беларусь во главе с Премьер-министром Андреем Кобяковым в ходе официального визита в Республику Татарстан посетила Казанский вертолетный завод (КВЗ), входящий в холдинг «Вертолеты России» Госкорпорации Ростех. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="image">
                                    <a href="#" style="background-image: url('../images/content/news/2.jpg')"></a>
                                </div>
                            </div>
                        </div>
                        <!-- end Single -->

                        <!-- 1 of 3 -->
                        <div class="item col-1-of-3">
                            <div class="m_item">
                                <div class="description">
                                    <div class="title">
                                        <a href="#"><span>Сервисный центр авторизованный производителем вертолетов ROBINSON</span></a>
                                    </div>
                                    <div class="post-date">11 марта 2016</div>
                                </div>
                                <div class="image">
                                    <a href="#" style="background-image: url('../images/content/news/6.jpg')"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item col-1-of-3">
                            <div class="m_item">
                                <div class="description">
                                    <div class="title">
                                        <a href="#"><span>Сервисный центр авторизованный производителем вертолетов ROBINSON</span></a>
                                    </div>
                                    <div class="post-date">11 марта 2016</div>
                                </div>
                                <div class="image">
                                    <a href="#" style="background-image: url('../images/content/news/7.jpg')"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item col-1-of-3">
                            <div class="m_item">
                                <div class="description">
                                    <div class="title">
                                        <a href="#"><span>Сервисный центр авторизованный производителем вертолетов ROBINSON</span></a>
                                    </div>
                                    <div class="post-date">11 марта 2016</div>
                                </div>
                                <div class="image">
                                    <a href="#" style="background-image: url('../images/content/news/8.jpg')"></a>
                                </div>
                            </div>
                        </div>
                        <!-- end 1 of 3 -->
                    </div>
                </main>
                <!-- end Main content -->
            </div>
        </div>
        //= modules/m_footer.html
    </div>
</body>
</html>