<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>Продукция</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <link href="../styles/vendor.css" rel="stylesheet" media="all">
    <link href="../styles/app.css" rel="stylesheet" media="all">
    <!-- Javascript -->
    <script src="../scripts/plugins.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body>
    <div class="body-layout"></div>
    <div class="container">
        <div class="main">
            //= modules/m_map-menu.html
            //= modules/m_sidebar.html
            <div class="m_content">
                <!-- Header -->
                <div class="m_header-inner">
                    <div class="top">
                        //= modules/header-menu.html
                    </div>
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">Продукция</a></li>
                            <li><span>УПГ-8 (Установка для проверки и испытания гироскопического оборудования)</span></li>
                        </ul>
                        <div class="mobile">
                            <a href="#">УПГ-8</a>
                        </div>
                    </div>
                </div>
                <!-- end Header -->
                <!-- Section nav -->
                <div class="m_section-nav">
                    <ul>
                        <li><a href="#"><span>СПАРК-КОНУС-М</span></a></li>
                        <li><a href="#"><span>СПАРК-ВИДЕО</span></a></li>
                        <li><a href="#"><span>Измерительные пульты</span></a></li>
                        <li><a href="#"><span>КПК</span></a></li>
                        <li class="current"><a href="#"><span>УПГ-8</span></a></li>
                        <li><a href="#"><span>Лаборатория модульного типа с размещением 3D панорамы</span></a></li>
                        <li><a href="#"><span>Сервисные центры</span></a></li>
                    </ul>
                </div>
                <!-- end Section nav -->

                <!-- Main content -->
                <main class="content">
                    <div class="m_page-header">
                        <h2 class="headling">УПГ-8 (Установка для проверки и испытания гироскопического оборудования)</h2>
                        <div class="pdf">
                            <a href="#">Скачать буклет<br>в pdf-формате</a>
                        </div>
                    </div>
                    <div class="m_production full">
                        <div class="m_carousel-default">
                            <div class="carousel-default-single">
                                <div class="slide">
                                    <div class="image" style="background-image: url('../images/content/lead-carousel/4.jpg')"></div>
                                </div>
                                <div class="slide">
                                    <div class="image" style="background-image: url('../images/content/lead-carousel/1.jpg')"></div>
                                </div>
                                <div class="slide">
                                    <div class="image" style="background-image: url('../images/content/lead-carousel/2.jpg')"></div>
                                </div>
                                <div class="slide">
                                    <div class="image" style="background-image: url('../images/content/lead-carousel/3.jpg')"></div>
                                </div>
                            </div>
                        </div>

                        <div class="lead-desc">
                            <p>Измерительная система УИС является универсальным средством измерения электрических параметров и предназначена для замены целой гаммы контрольно-измерительных средств: амперметров, вольтметров, мультиметров, измерителей сопротивления, частотомеров, генераторов НЧ, генераторов ВЧ, осциллографов, анализаторов спектра, измерителей модуляции, измерителей мощности, измерителей нелинейных искажений и др.</p>
                            <div class="buttons">
                                <a class="send-request popup-with-zoom-anim" href="#small-dialog">Отправить запрос</a>
                                <a href="#" class="download">Скачать буклет</a>
                            </div>
                        </div>
                    </div>
                    <div class="m_carousel-docs full">
                        <div class="carousel-docs">
                            <div class="slide">
                                <a class="image" href="#" style="background-image: url('../images/content/docs/1.jpg')"></a>
                                <div class="title"><a href="#"><span>Название документа</span></a></div>
                            </div>
                            <div class="slide">
                                <a class="image" href="#" style="background-image: url('../images/content/docs/2.jpg')"></a>
                                <div class="title"><a href="#"><span>Название документа</span></a></div>
                            </div>
                            <div class="slide">
                                <a class="image" href="#" style="background-image: url('../images/content/docs/3.jpg')"></a>
                                <div class="title"><a href="#"><span>Название документа</span></a></div>
                            </div>
                            <div class="slide">
                                <a class="image" href="#" style="background-image: url('../images/content/docs/1.jpg')"></a>
                                <div class="title"><a href="#"><span>Название документа</span></a></div>
                            </div>
                            <div class="slide">
                                <a class="image" href="#" style="background-image: url('../images/content/docs/4.jpg')"></a>
                                <div class="title"><a href="#"><span>Название документа</span></a></div>
                            </div>
                            <div class="slide">
                                <a class="image" href="#" style="background-image: url('../images/content/docs/5.jpg')"></a>
                                <div class="title"><a href="#"><span>Название документа</span></a></div>
                            </div>
                            <div class="slide">
                                <a class="image" href="#" style="background-image: url('../images/content/docs/2.jpg')"></a>
                                <div class="title"><a href="#"><span>Название документа</span></a></div>
                            </div>
                            <div class="slide">
                                <a class="image" href="#" style="background-image: url('../images/content/docs/4.jpg')"></a>
                                <div class="title"><a href="#"><span>Название документа</span></a></div>
                            </div>
                        </div>
                    </div>
                    <p>Модификация УИС-АТ разработана для авиационной отрасли и применяется для измерения параметров авиационного и радиоэлектронного оборудования летательных аппаратов всех типов. Система УИС-АТ предназначена для оснащения цехов и лабораторий заводов-изготовителей, ремонтных и эксплуатирующих предприятий, метрологических лабораторий.</p>
                    <p>УИС-АТ спроектирована по модульному принципу. В качестве органов управления и отображения информации используется монитор и клавиатура. Интерфейс гибко настраивается и позволяет легко переходить от одних измерений к другим, проводить одновременно несколько измерений, сохранять и анализировать полученные данные.</p>
                    <p>По желанию Заказчика УИС-АТ может устанавливаться в вибро-, влаго-, пылезащищенный переносимый контейнер и комплектоваться выдвижным монитором и клавиатурой (мобильная УИС-АТ).</p>
                    <p>УИС-АТ заменяет 42 типа существующих средств измерения, выпуск большинства которых в настоящее время прекращен. Общее количество заменяемых средств измерения составляет 250 единиц.</p>
                    <div class="m_carousel-article-images full">
                        <div class="image" style="background-image: url('../images/content/article-1.jpg')"></div>
                        <div class="image" style="background-image: url('../images/content/article-2.jpg')"></div>
                        <div class="image" style="background-image: url('../images/content/article-3.jpg')"></div>
                    </div>
                    <h3>Преимущестева УИС-АТ по сравнению с существующим оборудованием:</h3>
                    <ul>
                        <li>Снижение эксплуатационных затрат</li>
                        <li>Увеличение производительности труда</li>
                        <li>Уменьшение массо-габаритных размеров</li>
                        <li>Сокращение количества необходимых метрологических проверок</li>
                        <li>Удобство в эксплуатации</li>
                        <li>Универсальность и мобильность</li>
                    </ul>

                    <h2>Технические характеристики</h2>
                    <table class="table-colored">
                        <tr>
                            <th>Модуль</th>
                            <th>Характеристики</th>
                        </tr>
                        <tr>
                            <td>Модуль мультиметра </td>
                            <td>Измерение параметров постоянных и низкочастотных сигналов (ток, напряжение, частота, сопротивление для сигналов до 100 КГц)</td>
                        </tr>
                        <tr>
                            <td>Модуль генератора НЧ сигнала </td>
                            <td>Формирование произвольной формы сигнала амплитудной, импульсной, частотной модуляции и не модулированного сигнала: синусоидального, треугольного, меандра для частот до 40 МГц</td>
                        </tr>
                        <tr>
                            <td>Модуль анализатора НЧ сигнала </td>
                            <td>Изменение параметров сигналов (частота, период, амплитуда, СКЗ и т.д. для сигнала до 125 МГц)</td>
                        </tr>
                        <tr>
                            <td>Модуль генератора ВЧ сигнала</td>
                            <td>Формирование произвольной формы сигнала амплитудной, импульсной, частотной модуляции и не модулированного сигнала: синусоидального, треугольного, меандра для частот до 2700 МГц</td>
                        </tr>
                        <tr>
                            <td>Модуль анализатора ВЧ сигнала</td>
                            <td>Измерение параметров сигнала несущей и модулирующей частоты (спектральный анализ, частота, амплитуда, мощность, глубина модуляции, коэффициент заполнения, коэффициент нелинейных искажений и др.) для частот до 2700 МГц</td>
                        </tr>
                        <tr>
                            <td>Модуль частотомера </td>
                            <td>Измерение частоты сигнала до 3000 МГц</td>
                        </tr>
                    </table>

                    <h4>Массо-габаритные характеристики УИС-АТ</h4>
                    <table class="equal table-mobile-hidden-last">
                        <tr>
                            <td>Параметры</td>
                            <td>Стационарная УИС-АТ</td>
                            <td>Мобильная УИС-АТ</td>
                        </tr>
                        <tr>
                            <td>Габаритные размеры, мм</td>
                            <td>445 x 470 x 190</td>
                            <td>705 x 689 x 464</td>
                        </tr>
                        <tr>
                            <td>Масса (базовой модификации), кг</td>
                            <td>12</td>
                            <td>43</td>
                        </tr>
                    </table>

                    <h4>Условия эксплуатации УИС-АТ </h4>
                    <table class="equal">
                        <tr>
                            <td>Температура окружающего воздуха</td>
                            <td>от +15 до +40°С</td>
                        </tr>
                        <tr>
                            <td>Относительная влажность воздуха</td>
                            <td>от 30 до 80% при температуре +20°С</td>
                        </tr>
                        <tr>
                            <td>Напряжение питания</td>
                            <td>от 100 до 240В ±10% с частотой 50-60 Гц</td>
                        </tr>
                    </table>

                    <h2>Состав базовой комплектации</h2>
                    <ul class="m_accordion">
                        <li>
                            <a class="accordion-header" href="#"><span>Промышленный компьютер с установленным программным обеспечением</span></a>
                            <div class="accordion-body">
                                <h5>Основные характеристики</h5>
                                <ul>
                                    <li>Количество каналов: 2</li>
                                    <li>Диапазон измерения частот: до 2 Ггц</li>
                                    <li>Время расчета: от 250 мкс до 3200 с</li>
                                    <li>
                                        <span>Порядок измерения частоты:</span>
                                        <ul>
                                            <li>7 значащих цифр при времени измерения до 1 мс</li>
                                            <li>10 значащих цифр на секунду измерения при времени измерения более 1 мс</li>
                                        </ul>
                                    </li>
                                    <li>Диапазон измерения интервалов времени и периодов при однократном измерении: от 1 нс до 100 000с</li>
                                    <li>
                                        <span>Входное сопротивление:</span>
                                        <ul>
                                            <li>На частоте менее 225 МГц 50 Ом или 1 Мом</li>
                                            <li>На частоте более 225 МГц 50 Ом</li>
                                        </ul>
                                    </li>
                                </ul>
                                <h5>Чувствительность</h5>
                                <div class="table-wrapper">
                                    <table class="table-colored">
                                        <tr>
                                            <th>Тип сигнала</th>
                                            <th>Частота (длительность импульса)</th>
                                            <th>Чувствительность</th>
                                            <th>Примечание</th>
                                        </tr>
                                        <tr>
                                            <td>Гармонический сигнал</td>
                                            <td>
                                                <p>0 - 20 МГц</p>
                                                <p>20 - 50 МГц</p>
                                                <p>50 - 225 МГц</p>
                                                <p>225 - 1,3 ГГц</p>
                                                <p>1,3 - 2 ГГц</p>
                                            </td>
                                            <td>
                                                <p>25 мВ</p>
                                                <p>50 мВ</p>
                                                <p>200 мВ</p>
                                                <p>250 мВ</p>
                                                <p>500 мВ</p>
                                            </td>
                                            <td>Действующее значение</td>
                                        </tr>
                                        <tr>
                                            <td>Импульс</td>
                                            <td>5 нс</td>
                                            <td>500 мВ</td>
                                            <td>Амплитуда</td>
                                        </tr>
                                    </table>
                                </div>
                                <h5>Дополнительные функции</h5>
                                <ul>
                                    <li>Внешний тактирующий вход</li>
                                    <li>Выход сигнала временных ворот</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="accordion-header" href="#"><span>Модуль мультиметра</span></a>
                            <div class="accordion-body">
                                <h5>Основные характеристики</h5>
                                <ul>
                                    <li>Количество каналов: 2</li>
                                    <li>Диапазон измерения частот: до 2 Ггц</li>
                                    <li>Время расчета: от 250 мкс до 3200 с</li>
                                    <li>
                                        <span>Порядок измерения частоты:</span>
                                        <ul>
                                            <li>7 значащих цифр при времени измерения до 1 мс</li>
                                            <li>10 значащих цифр на секунду измерения при времени измерения более 1 мс</li>
                                        </ul>
                                    </li>
                                    <li>Диапазон измерения интервалов времени и периодов при однократном измерении: от 1 нс до 100 000с</li>
                                    <li>
                                        <span>Входное сопротивление:</span>
                                        <ul>
                                            <li>На частоте менее 225 МГц 50 Ом или 1 Мом</li>
                                            <li>На частоте более 225 МГц 50 Ом</li>
                                        </ul>
                                    </li>
                                </ul>
                                <h5>Чувствительность</h5>
                                <div class="table-wrapper">
                                    <table class="table-colored">
                                        <tr>
                                            <th>Тип сигнала</th>
                                            <th>Частота (длительность импульса)</th>
                                            <th>Чувствительность</th>
                                            <th>Примечание</th>
                                        </tr>
                                        <tr>
                                            <td>Гармонический сигнал</td>
                                            <td>
                                                <p>0 - 20 МГц</p>
                                                <p>20 - 50 МГц</p>
                                                <p>50 - 225 МГц</p>
                                                <p>225 - 1,3 ГГц</p>
                                                <p>1,3 - 2 ГГц</p>
                                            </td>
                                            <td>
                                                <p>25 мВ</p>
                                                <p>50 мВ</p>
                                                <p>200 мВ</p>
                                                <p>250 мВ</p>
                                                <p>500 мВ</p>
                                            </td>
                                            <td>Действующее значение</td>
                                        </tr>
                                        <tr>
                                            <td>Импульс</td>
                                            <td>5 нс</td>
                                            <td>500 мВ</td>
                                            <td>Амплитуда</td>
                                        </tr>
                                    </table>
                                </div>
                                <h5>Дополнительные функции</h5>
                                <ul>
                                    <li>Внешний тактирующий вход</li>
                                    <li>Выход сигнала временных ворот</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="accordion-header" href="#"><span>Модуль генератора НЧ сигнала</span></a>
                            <div class="accordion-body">
                                <h5>Основные характеристики</h5>
                                <ul>
                                    <li>Количество каналов: 2</li>
                                    <li>Диапазон измерения частот: до 2 Ггц</li>
                                    <li>Время расчета: от 250 мкс до 3200 с</li>
                                    <li>
                                        <span>Порядок измерения частоты:</span>
                                        <ul>
                                            <li>7 значащих цифр при времени измерения до 1 мс</li>
                                            <li>10 значащих цифр на секунду измерения при времени измерения более 1 мс</li>
                                        </ul>
                                    </li>
                                    <li>Диапазон измерения интервалов времени и периодов при однократном измерении: от 1 нс до 100 000с</li>
                                    <li>
                                        <span>Входное сопротивление:</span>
                                        <ul>
                                            <li>На частоте менее 225 МГц 50 Ом или 1 Мом</li>
                                            <li>На частоте более 225 МГц 50 Ом</li>
                                        </ul>
                                    </li>
                                </ul>
                                <h5>Чувствительность</h5>
                                <div class="table-wrapper">
                                    <table class="table-colored">
                                        <tr>
                                            <th>Тип сигнала</th>
                                            <th>Частота (длительность импульса)</th>
                                            <th>Чувствительность</th>
                                            <th>Примечание</th>
                                        </tr>
                                        <tr>
                                            <td>Гармонический сигнал</td>
                                            <td>
                                                <p>0 - 20 МГц</p>
                                                <p>20 - 50 МГц</p>
                                                <p>50 - 225 МГц</p>
                                                <p>225 - 1,3 ГГц</p>
                                                <p>1,3 - 2 ГГц</p>
                                            </td>
                                            <td>
                                                <p>25 мВ</p>
                                                <p>50 мВ</p>
                                                <p>200 мВ</p>
                                                <p>250 мВ</p>
                                                <p>500 мВ</p>
                                            </td>
                                            <td>Действующее значение</td>
                                        </tr>
                                        <tr>
                                            <td>Импульс</td>
                                            <td>5 нс</td>
                                            <td>500 мВ</td>
                                            <td>Амплитуда</td>
                                        </tr>
                                    </table>
                                </div>
                                <h5>Дополнительные функции</h5>
                                <ul>
                                    <li>Внешний тактирующий вход</li>
                                    <li>Выход сигнала временных ворот</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="accordion-header" href="#"><span>Модуль генератора ВЧ сигнала</span></a>
                            <div class="accordion-body">
                                <h5>Основные характеристики</h5>
                                <ul>
                                    <li>Количество каналов: 2</li>
                                    <li>Диапазон измерения частот: до 2 Ггц</li>
                                    <li>Время расчета: от 250 мкс до 3200 с</li>
                                    <li>
                                        <span>Порядок измерения частоты:</span>
                                        <ul>
                                            <li>7 значащих цифр при времени измерения до 1 мс</li>
                                            <li>10 значащих цифр на секунду измерения при времени измерения более 1 мс</li>
                                        </ul>
                                    </li>
                                    <li>Диапазон измерения интервалов времени и периодов при однократном измерении: от 1 нс до 100 000с</li>
                                    <li>
                                        <span>Входное сопротивление:</span>
                                        <ul>
                                            <li>На частоте менее 225 МГц 50 Ом или 1 Мом</li>
                                            <li>На частоте более 225 МГц 50 Ом</li>
                                        </ul>
                                    </li>
                                </ul>
                                <h5>Чувствительность</h5>
                                <div class="table-wrapper">
                                    <table class="table-colored">
                                        <tr>
                                            <th>Тип сигнала</th>
                                            <th>Частота (длительность импульса)</th>
                                            <th>Чувствительность</th>
                                            <th>Примечание</th>
                                        </tr>
                                        <tr>
                                            <td>Гармонический сигнал</td>
                                            <td>
                                                <p>0 - 20 МГц</p>
                                                <p>20 - 50 МГц</p>
                                                <p>50 - 225 МГц</p>
                                                <p>225 - 1,3 ГГц</p>
                                                <p>1,3 - 2 ГГц</p>
                                            </td>
                                            <td>
                                                <p>25 мВ</p>
                                                <p>50 мВ</p>
                                                <p>200 мВ</p>
                                                <p>250 мВ</p>
                                                <p>500 мВ</p>
                                            </td>
                                            <td>Действующее значение</td>
                                        </tr>
                                        <tr>
                                            <td>Импульс</td>
                                            <td>5 нс</td>
                                            <td>500 мВ</td>
                                            <td>Амплитуда</td>
                                        </tr>
                                    </table>
                                </div>
                                <h5>Дополнительные функции</h5>
                                <ul>
                                    <li>Внешний тактирующий вход</li>
                                    <li>Выход сигнала временных ворот</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="accordion-header" href="#"><span>Модуль анализатора ВЧ сигнала</span></a>
                            <div class="accordion-body">
                                <h5>Основные характеристики</h5>
                                <ul>
                                    <li>Количество каналов: 2</li>
                                    <li>Диапазон измерения частот: до 2 Ггц</li>
                                    <li>Время расчета: от 250 мкс до 3200 с</li>
                                    <li>
                                        <span>Порядок измерения частоты:</span>
                                        <ul>
                                            <li>7 значащих цифр при времени измерения до 1 мс</li>
                                            <li>10 значащих цифр на секунду измерения при времени измерения более 1 мс</li>
                                        </ul>
                                    </li>
                                    <li>Диапазон измерения интервалов времени и периодов при однократном измерении: от 1 нс до 100 000с</li>
                                    <li>
                                        <span>Входное сопротивление:</span>
                                        <ul>
                                            <li>На частоте менее 225 МГц 50 Ом или 1 Мом</li>
                                            <li>На частоте более 225 МГц 50 Ом</li>
                                        </ul>
                                    </li>
                                </ul>
                                <h5>Чувствительность</h5>
                                <div class="table-wrapper">
                                    <table class="table-colored">
                                        <tr>
                                            <th>Тип сигнала</th>
                                            <th>Частота (длительность импульса)</th>
                                            <th>Чувствительность</th>
                                            <th>Примечание</th>
                                        </tr>
                                        <tr>
                                            <td>Гармонический сигнал</td>
                                            <td>
                                                <p>0 - 20 МГц</p>
                                                <p>20 - 50 МГц</p>
                                                <p>50 - 225 МГц</p>
                                                <p>225 - 1,3 ГГц</p>
                                                <p>1,3 - 2 ГГц</p>
                                            </td>
                                            <td>
                                                <p>25 мВ</p>
                                                <p>50 мВ</p>
                                                <p>200 мВ</p>
                                                <p>250 мВ</p>
                                                <p>500 мВ</p>
                                            </td>
                                            <td>Действующее значение</td>
                                        </tr>
                                        <tr>
                                            <td>Импульс</td>
                                            <td>5 нс</td>
                                            <td>500 мВ</td>
                                            <td>Амплитуда</td>
                                        </tr>
                                    </table>
                                </div>
                                <h5>Дополнительные функции</h5>
                                <ul>
                                    <li>Внешний тактирующий вход</li>
                                    <li>Выход сигнала временных ворот</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="accordion-header" href="#"><span>Модуль частотомера</span></a>
                            <div class="accordion-body">
                                <h5>Основные характеристики</h5>
                                <ul>
                                    <li>Количество каналов: 2</li>
                                    <li>Диапазон измерения частот: до 2 Ггц</li>
                                    <li>Время расчета: от 250 мкс до 3200 с</li>
                                    <li>
                                        <span>Порядок измерения частоты:</span>
                                        <ul>
                                            <li>7 значащих цифр при времени измерения до 1 мс</li>
                                            <li>10 значащих цифр на секунду измерения при времени измерения более 1 мс</li>
                                        </ul>
                                    </li>
                                    <li>Диапазон измерения интервалов времени и периодов при однократном измерении: от 1 нс до 100 000с</li>
                                    <li>
                                        <span>Входное сопротивление:</span>
                                        <ul>
                                            <li>На частоте менее 225 МГц 50 Ом или 1 Мом</li>
                                            <li>На частоте более 225 МГц 50 Ом</li>
                                        </ul>
                                    </li>
                                </ul>
                                <h5>Чувствительность</h5>
                                <div class="table-wrapper">
                                    <table class="table-colored">
                                        <tr>
                                            <th>Тип сигнала</th>
                                            <th>Частота (длительность импульса)</th>
                                            <th>Чувствительность</th>
                                            <th>Примечание</th>
                                        </tr>
                                        <tr>
                                            <td>Гармонический сигнал</td>
                                            <td>
                                                <p>0 - 20 МГц</p>
                                                <p>20 - 50 МГц</p>
                                                <p>50 - 225 МГц</p>
                                                <p>225 - 1,3 ГГц</p>
                                                <p>1,3 - 2 ГГц</p>
                                            </td>
                                            <td>
                                                <p>25 мВ</p>
                                                <p>50 мВ</p>
                                                <p>200 мВ</p>
                                                <p>250 мВ</p>
                                                <p>500 мВ</p>
                                            </td>
                                            <td>Действующее значение</td>
                                        </tr>
                                        <tr>
                                            <td>Импульс</td>
                                            <td>5 нс</td>
                                            <td>500 мВ</td>
                                            <td>Амплитуда</td>
                                        </tr>
                                    </table>
                                </div>
                                <h5>Дополнительные функции</h5>
                                <ul>
                                    <li>Внешний тактирующий вход</li>
                                    <li>Выход сигнала временных ворот</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="accordion-header" href="#"><span>Документация (паспорт, руководство по эксплуатации, руководство пользователя)</span></a>
                            <div class="accordion-body">
                                <h5>Основные характеристики</h5>
                                <ul>
                                    <li>Количество каналов: 2</li>
                                    <li>Диапазон измерения частот: до 2 Ггц</li>
                                    <li>Время расчета: от 250 мкс до 3200 с</li>
                                    <li>
                                        <span>Порядок измерения частоты:</span>
                                        <ul>
                                            <li>7 значащих цифр при времени измерения до 1 мс</li>
                                            <li>10 значащих цифр на секунду измерения при времени измерения более 1 мс</li>
                                        </ul>
                                    </li>
                                    <li>Диапазон измерения интервалов времени и периодов при однократном измерении: от 1 нс до 100 000с</li>
                                    <li>
                                        <span>Входное сопротивление:</span>
                                        <ul>
                                            <li>На частоте менее 225 МГц 50 Ом или 1 Мом</li>
                                            <li>На частоте более 225 МГц 50 Ом</li>
                                        </ul>
                                    </li>
                                </ul>
                                <h5>Чувствительность</h5>
                                <div class="table-wrapper">
                                    <table class="table-colored">
                                        <tr>
                                            <th>Тип сигнала</th>
                                            <th>Частота (длительность импульса)</th>
                                            <th>Чувствительность</th>
                                            <th>Примечание</th>
                                        </tr>
                                        <tr>
                                            <td>Гармонический сигнал</td>
                                            <td>
                                                <p>0 - 20 МГц</p>
                                                <p>20 - 50 МГц</p>
                                                <p>50 - 225 МГц</p>
                                                <p>225 - 1,3 ГГц</p>
                                                <p>1,3 - 2 ГГц</p>
                                            </td>
                                            <td>
                                                <p>25 мВ</p>
                                                <p>50 мВ</p>
                                                <p>200 мВ</p>
                                                <p>250 мВ</p>
                                                <p>500 мВ</p>
                                            </td>
                                            <td>Действующее значение</td>
                                        </tr>
                                        <tr>
                                            <td>Импульс</td>
                                            <td>5 нс</td>
                                            <td>500 мВ</td>
                                            <td>Амплитуда</td>
                                        </tr>
                                    </table>
                                </div>
                                <h5>Дополнительные функции</h5>
                                <ul>
                                    <li>Внешний тактирующий вход</li>
                                    <li>Выход сигнала временных ворот</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="accordion-header" href="#"><span>Комплект жгутов для подключения оборудования</span></a>
                            <div class="accordion-body">
                                <h5>Основные характеристики</h5>
                                <ul>
                                    <li>Количество каналов: 2</li>
                                    <li>Диапазон измерения частот: до 2 Ггц</li>
                                    <li>Время расчета: от 250 мкс до 3200 с</li>
                                    <li>
                                        <span>Порядок измерения частоты:</span>
                                        <ul>
                                            <li>7 значащих цифр при времени измерения до 1 мс</li>
                                            <li>10 значащих цифр на секунду измерения при времени измерения более 1 мс</li>
                                        </ul>
                                    </li>
                                    <li>Диапазон измерения интервалов времени и периодов при однократном измерении: от 1 нс до 100 000с</li>
                                    <li>
                                        <span>Входное сопротивление:</span>
                                        <ul>
                                            <li>На частоте менее 225 МГц 50 Ом или 1 Мом</li>
                                            <li>На частоте более 225 МГц 50 Ом</li>
                                        </ul>
                                    </li>
                                </ul>
                                <h5>Чувствительность</h5>
                                <div class="table-wrapper">
                                    <table class="table-colored">
                                        <tr>
                                            <th>Тип сигнала</th>
                                            <th>Частота (длительность импульса)</th>
                                            <th>Чувствительность</th>
                                            <th>Примечание</th>
                                        </tr>
                                        <tr>
                                            <td>Гармонический сигнал</td>
                                            <td>
                                                <p>0 - 20 МГц</p>
                                                <p>20 - 50 МГц</p>
                                                <p>50 - 225 МГц</p>
                                                <p>225 - 1,3 ГГц</p>
                                                <p>1,3 - 2 ГГц</p>
                                            </td>
                                            <td>
                                                <p>25 мВ</p>
                                                <p>50 мВ</p>
                                                <p>200 мВ</p>
                                                <p>250 мВ</p>
                                                <p>500 мВ</p>
                                            </td>
                                            <td>Действующее значение</td>
                                        </tr>
                                        <tr>
                                            <td>Импульс</td>
                                            <td>5 нс</td>
                                            <td>500 мВ</td>
                                            <td>Амплитуда</td>
                                        </tr>
                                    </table>
                                </div>
                                <h5>Дополнительные функции</h5>
                                <ul>
                                    <li>Внешний тактирующий вход</li>
                                    <li>Выход сигнала временных ворот</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="accordion-header" href="#"><span>Ключ (флеш-карта) защиты информации</span></a>
                            <div class="accordion-body">
                                <h5>Основные характеристики</h5>
                                <ul>
                                    <li>Количество каналов: 2</li>
                                    <li>Диапазон измерения частот: до 2 Ггц</li>
                                    <li>Время расчета: от 250 мкс до 3200 с</li>
                                    <li>
                                        <span>Порядок измерения частоты:</span>
                                        <ul>
                                            <li>7 значащих цифр при времени измерения до 1 мс</li>
                                            <li>10 значащих цифр на секунду измерения при времени измерения более 1 мс</li>
                                        </ul>
                                    </li>
                                    <li>Диапазон измерения интервалов времени и периодов при однократном измерении: от 1 нс до 100 000с</li>
                                    <li>
                                        <span>Входное сопротивление:</span>
                                        <ul>
                                            <li>На частоте менее 225 МГц 50 Ом или 1 Мом</li>
                                            <li>На частоте более 225 МГц 50 Ом</li>
                                        </ul>
                                    </li>
                                </ul>
                                <h5>Чувствительность</h5>
                                <div class="table-wrapper">
                                    <table class="table-colored">
                                        <tr>
                                            <th>Тип сигнала</th>
                                            <th>Частота (длительность импульса)</th>
                                            <th>Чувствительность</th>
                                            <th>Примечание</th>
                                        </tr>
                                        <tr>
                                            <td>Гармонический сигнал</td>
                                            <td>
                                                <p>0 - 20 МГц</p>
                                                <p>20 - 50 МГц</p>
                                                <p>50 - 225 МГц</p>
                                                <p>225 - 1,3 ГГц</p>
                                                <p>1,3 - 2 ГГц</p>
                                            </td>
                                            <td>
                                                <p>25 мВ</p>
                                                <p>50 мВ</p>
                                                <p>200 мВ</p>
                                                <p>250 мВ</p>
                                                <p>500 мВ</p>
                                            </td>
                                            <td>Действующее значение</td>
                                        </tr>
                                        <tr>
                                            <td>Импульс</td>
                                            <td>5 нс</td>
                                            <td>500 мВ</td>
                                            <td>Амплитуда</td>
                                        </tr>
                                    </table>
                                </div>
                                <h5>Дополнительные функции</h5>
                                <ul>
                                    <li>Внешний тактирующий вход</li>
                                    <li>Выход сигнала временных ворот</li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                    <h2>Дополнительный модули и оборудование</h2>
                    <p>Дополнительные модули устанавливаются в свободные слоты платы шасси.</p>
                    <ul>
                        <li><a href="#"><span>Модуль мультиметра</span></a></li>
                        <li><a href="#"><span>Модуль усилителя НЧ</span></a></li>
                        <li><a href="#"><span>Модуль анализатора НЧ</span></a></li>
                        <li><a href="#"><span>Монитор</span></a></li>
                        <li><a href="#"><span>Принтер</span></a></li>
                        <li><a href="#"><span>Клавиатура</span></a></li>
                        <li><a href="#"><span>Мышь</span></a></li>
                    </ul>
                </main>
                <!-- end Main content -->
            </div>
        </div>
        //= modules/modals.html
        //= modules/m_footer.html
    </div>
</body>
</html>