<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>Карьера</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <link href="../styles/vendor.css" rel="stylesheet" media="all">
    <link href="../styles/app.css" rel="stylesheet" media="all">
    <!-- Javascript -->
    <script src="../scripts/plugins.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body>
    <div class="body-layout"></div>
    <div class="container">
        <div class="main">
            //= modules/m_map-menu.html
            //= modules/m_sidebar.html
            <div class="m_content">
                <!-- Header -->
                <div class="m_header-inner">
                    <div class="top">
                        //= modules/header-menu.html
                    </div>
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">Главная</a></li>
                            <li><span>Карьера</span></li>
                        </ul>
                        <div class="mobile">
                            <a href="#">Карьера</a>
                        </div>
                    </div>
                </div>
                <!-- end Header -->

                <!-- Main content -->
                <main class="content">

                    <div class="headling mobile-hidden">Карьера</div>


                    <!-- Tabs control -->
                    <div class="m_tabs-control-small">
                        <div class="m_section-nav">
                            <ul>
                                <li class="tab-control current"><a href="#"><span>АО «СПАРК»</span></a></li>
                                <li class="tab-control"><a href="#"><span>АО «НПО СПАРК» </span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end Tabs control -->

                    <!-- Tabs content -->
                    <div class="m_tabs-content">
                        <div class="tabs-item current">
                            <div class="m_vacancy">
                                <div class="item">
                                    <div class="title"><a href="#"><span>Помощник специалиста по охране труда</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Заместитель директора</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Инжеренер-технолог</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Специалист АСУ</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Помощник специалиста по охране труда</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Заместитель директора</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Инжеренер-технолог</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Специалист АСУ</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Помощник специалиста по охране труда</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                            </div>
                            //= modules/m_pagination.html
                        </div>
                        <div class="tabs-item">
                            <div class="m_vacancy">
                                <div class="item">
                                    <div class="title"><a href="#"><span>Специалист АСУ</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Специалист АСУ</span></a></div>
                                    <div class="summ">до 50 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Помощник специалиста по охране труда</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Заместитель директора</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Инжеренер-технолог</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Специалист АСУ</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Помощник специалиста по охране труда</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Заместитель директора</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Инжеренер-технолог</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Помощник специалиста по охране труда</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                            </div>
                            //= modules/m_pagination.html
                        </div>
                    </div>
                    <!-- end Tabs content -->
                </main>
                <!-- end Main content -->
            </div>
        </div>
        //= modules/m_footer.html
    </div>
</body>
</html>