<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>Карьера</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <link href="../styles/vendor.css" rel="stylesheet" media="all">
    <link href="../styles/app.css" rel="stylesheet" media="all">
    <!-- Javascript -->
    <script src="../scripts/plugins.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body>
    <div class="body-layout"></div>
    <div class="container">
        <div class="main">
            //= modules/m_map-menu.html
            //= modules/m_sidebar.html
            <div class="m_content">
                <!-- Header -->
                <div class="m_header-inner">
                    <div class="top">
                        //= modules/header-menu.html
                    </div>
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">Карьера</a></li>
                            <li><span>Помощник специалиста по охране труда</span></li>
                        </ul>
                        <div class="mobile">
                            <a href="#">Карьера</a>
                        </div>
                    </div>
                </div>
                <!-- end Header -->

                <!-- Main content -->
                <main class="content">
                    <div class="m_vacancy-info">
                        <div class="lead">
                            <div class="col">
                                <div class="title">Уровень зарплаты</div>
                                <div class="value">от 100 000 руб.</div>
                            </div>
                            <div class="col">
                                <div class="title">Требуемый опыт работы:</div>
                                <div class="value">1-3 года</div>
                            </div>
                        </div>

                        <p>Компания может быть успешна ровно настолько, насколько успешны и профессиональны ее сотрудники. Благодаря нашим менеджерам по продажам компания «Кемилайн Групп» заняла ведущие позиции на рынке профессиональной эксплуатационной химии.</p>
                        <p>Мы открываем новый проект и на конкурсной основе проводим отбор и обучение кандидатов на должность "Менеджер по работе с корпоративными клиентами".</p>
                        <p>Желающих поработать в компании 2-3 года просьба не беспокоится.</p>

                        <div class="requires">
                            <h3>Требования:</h3>
                            <ul>
                                <li>Наличие водительских прав и личного автомобиля</li>
                                <li>Высшее образование (техническое приветствуется)</li>
                                <li>Опыт ведения переговоров с руководителями предприятий (желателен)</li>
                                <li>Опыт продаж на крупные промышленные предприятия (желателен)</li>
                                <li>Умение добиваться результата (мы оцениваем объём ваших личных продаж)</li>
                                <li>Самостоятельность (мы хотим работать с теми, кого не нужно контролировать)</li>
                                <li>
                                    <span>В обязанности менеджера по работе с корпоративными клиентами входит:</span>
                                    <ul>
                                        <li>Поиск новых клиентов, развитие и поддержание клиентской базы</li>
                                        <li>Проведение презентаций продукции, переговоров и заключение договоров с промышленными предприятиями</li>
                                        <li>Сопровождение заказов (помощь в выборе продукции, технические консультации, контроль оплат и отгрузок)</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="conditions">
                            <h3>Условия:</h3>
                            <ul>
                                <li>Возможность неограниченного заработка: на испытательный срок оклад 35 000+ % с оборота (доход среднего Менеджера по работе с клиентами в месяц 50 000-70 000 руб. лучших - 150 000-300 000 руб.)</li>
                                <li>Профессиональное обучение технологии продаж и личный наставник на весь период адаптации</li>
                                <li>Профессиональный и карьерный рост</li>
                                <li>Оформление по ТК (гарантированный соц.пакет + ДМС + корпоративная пенсионная программа)</li>
                            </ul>
                        </div>

                        <div class="additional">
                            <h3>А так же:</h3>
                            <ul>
                                <li>Большую самостоятельность в планировании своей работы</li>
                                <li>Отсутствие необходимости ежедневного прибытия в офис и массу других приятных «бонусов», которые сделают вашу работу комфортной и эффективной</li>
                            </ul>
                        </div>
                    </div>
                    <div class="m_vacancy-form full">
                        <div class="title">Откликнуться на вакансию</div>
                        <form class="form">
                            <div class="hgroup">
                                <input class="text" type="text" placeholder="Ваше имя">
                            </div>
                            <div class="hgroup">
                                <input class="email" type="email" placeholder="Ваш e-mail">
                            </div>
                            <div class="hgroup">
                                <input class="tel" type="tel" placeholder="Номер телефона">
                            </div>
                            <div class="hgroup">
                                <textarea class="textarea" placeholder="Текст сообщения"></textarea>
                            </div>
                            <div class="hgroup">
                                <label class="attach-label">Добавить<br>файл резюме</label>
                                <div class="fileUpload">
                                    <span>Прикрепить файл</span>
                                    <input type="file" class="upload ppo" />
                                </div>
                                <div class="uploaded" style="display: none">Файл добавлен!</div>
                            </div>
                            <div class="hgroup">
                                <button type="submit" class="submit">Откликнуться</button>
                            </div>
                        </form>
                    </div>
                </main>
                <!-- end Main content -->
            </div>
        </div>
        //= modules/m_footer.html
    </div>
</body>
</html>