.m_section-nav
  padding-left 2%
  padding-right 2%
  margin-bottom 25px
  @media screen and (max-width: 700px)
    margin-top 25px
    margin-bottom 25px
  @media screen and (max-width: 420px)
    padding-left 5%
    padding-right 5%
  ul
    cursor default
  li
    display inline-block
    vertical-align middle
    margin-right 25px
    margin-top 5px
    margin-bottom 5px
    height 36px
    line-height 36px
    @media screen and (max-width: 700px)
      margin-right 10px
    @media screen and (max-width: 568px)
      line-height 14px
    @media screen and (max-width: 420px)
      height 28px


    &:last-child
      margin-right 0
    &.current
      background url("../images/texture_bluse.jpg") repeat 0 0
      border-radius 5px
      overflow hidden
      @media screen and (max-width: 568px)
        position relative
        top -9px
        a
          line-height 36px
      @media screen and (max-width: 420px)
        top -6px
        a
          line-height 28px
      a
        text-decoration none
        cursor default
        padding-left 10px
        padding-right 10px
        span
          color #fff
  a
    font-size 16px
    line-height 1
    underline()
    @media screen and (max-width: 420px)
      font-size 14px

