.m_tabs-control
  position relative
  padding 0
  cursor default
  .headling,
  .m_section-nav
    display inline-block
    vertical-align middle
  .m_section-nav
    margin-bottom 0
    margin-top 15px
    @media screen and (max-width: 700px)
      padding-left 0
      padding-right 0
    li
      margin-top 0
      height 36px
      line-height 36px
      margin-right 5px
      a
        padding-left 10px
        padding-right 10px
  .headling
    padding-bottom 0
    padding-left 0
    padding-right 15px
