.m_tabs-control
  position relative
  padding 20px 0
  cursor default
  .headling,
  .m_section-nav
    display inline-block
    vertical-align middle
  .m_section-nav
    margin-bottom 0
    @media screen and (max-width: 700px)
      margin-top 0
    @media screen and (max-width: 420px)
      padding-left 0
      padding-right 0
    li
      margin-top 0
      margin-bottom 0
      height 36px
      line-height 36px
      margin-right 15px
      a
        padding-left 10px
        padding-right 10px
  .headling
    margin-top 17px
    padding-bottom 0
    line-height 30px
    padding-left 0
    padding-right 15px
