.m_vacancy-info
  .lead
    border-bottom 1px solid #dcdcdc
    .col
      display inline-block
      vertical-align top
      width 275px
      padding-bottom 10px
      padding-top 25px
      .title
        color #8d8d8d
        font-size 14px
        line-height 1
        margin-bottom 15px
      .value
        font-weight bold
        font-size 20px
        line-height 1
        color #404040
        margin-bottom 15px
  h3
    color #404040
    margin-top 30px
  .requires
  .conditions,
  .additional
    ul ul li
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 15px;
        &:before
          width: 6px;
          height: 6px;
          border: 1px solid #ed1650;
          border-radius: 50%;
          background: none;
          top: 5px;