.m_vacancy
  .item
    border-bottom 1px solid #dcdcdc
    &:first-child
      .title
        padding-top 0
    .title
      padding-top 20px
      a
        font-size 20px
        underline()
    .summ
      color #404040
      font-size 15px
      line-height 15px
      font-weight bold
      padding-top 20px
    .description
      padding 20px 0
      font-size 15px
      color #404040
      line-height 22px