<div class="m_paginations">
    <button class="prev"><</button>
    <ul class="normal">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li class="current"><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#">10</a></li>
    </ul>
    <ul class="mobile">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li class="current"><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>
    <button class="next">></button>
</div>