<div class="m_sidebar-shadow"></div>
<div class="m_sidebar">
    <div class="sidebar-layout"></div>
    <!-- Mobile menu trigger -->
    <div class="mobile-menu-trigger">
        <span></span>
    </div>
    <!-- end Mobile menu trigger -->
    <div class="logo">
        <a href="#"></a>
    </div>

    <div class="search">
        <form>
            <input class="text" type="text" placeholder="Поиск">
            <button class="submit" type="submit"><span class="icon-search"></span></button>
        </form>
    </div>

    <div class="map">
        <a href="#" class="sidebar-map">
            <span class="burger"><span></span></span>
            <span class="label">Карта сайта</span>
        </a>
    </div>

    <div class="menu">
        <div class="item">
            <a class="services" href="#">
                <span class="icon"></span>
                <span class="label">Услуги</span>
            </a>
        </div>
        <div class="item">
            <a class="productions current" href="#">
                <span class="icon"></span>
                <span class="label">Продукция</span>
            </a>
        </div>
        <div class="item">
            <a class="news" href="#">
                <span class="icon"></span>
                <span class="label">Пресс-центр</span>
            </a>
        </div>
    </div>
</div>