<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>История</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <link href="../styles/vendor.css" rel="stylesheet" media="all">
    <link href="../styles/app.css" rel="stylesheet" media="all">
    <!-- Javascript -->
    <script src="../scripts/plugins.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body>
    <div class="body-layout"></div>
    <div class="container">
        <div class="main">
            <div class="m_map-menu">
                <div class="search">
                    <form>
                        <input class="text" type="text" placeholder="Поиск">
                        <button class="submit" type="submit"><span class="icon-search"></span></button>
                    </form>
                </div>
                <div class="lead-nav">
                    <ul>
                        <li><a href="http://frontende.info/sparcavia.com/">Главная</a></li>
                        <li><a href="#">Карьера</a></li>
                        <li><a href="#">Пресс-центр</a></li>
                        <li><a href="#">Контактная <br>информация</a></li>
                    </ul>
                </div>
                <div class="all-links">
                    <div class="col">
                        <div class="category">
                            <a href="#">СПАРК</a>
                        </div>
                        <ul>
                            <li><a href="#">Руководство</a></li>
                            <li><a href="#">История</a></li>
                            <li><a href="#">Деятельность компании</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="category">
                            <a href="#">НПО СПАРК</a>
                        </div>
                        <ul>
                            <li><a href="#">Руководство</a></li>
                            <li><a href="#">Отдел новой техники</a></li>
                            <li><a href="#">Отдел инновационных <br>технологий</a></li>
                            <li><a href="#">Учебный центр</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="category">
                            <a href="#">Услуги</a>
                        </div>
                        <ul>
                            <li><a href="#">Ремонт</a></li>
                            <li><a href="#">Продажа</a></li>
                            <li><a href="#">Модернизация</a></li>
                            <li><a href="#">Продление ресурсов</a></li>
                            <li><a href="#">Техническая поддержка</a></li>
                            <li><a href="#">Переоборудование <br>салонов</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="category">
                            <a href="#">Продукция</a>
                        </div>
                        <ul>
                            <li><a href="#">УИС-АТ</a></li>
                            <li><a href="#">КПК</a></li>
                            <li><a href="#">КПС</a></li>
                            <li><a href="#">ИП (измерительные пульты)</a></li>
                            <li><a href="#">ИП-3 (СПАРК-ВИДЕО)</a></li>
                            <li><a href="#">ИП-4 (СПАРК-КОНУС)</a></li>
                            <li><a href="#">УПГ-8нов</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m_sidebar-shadow"></div>
            <div class="m_sidebar">
                <div class="sidebar-layout"></div>
                <!-- Mobile menu trigger -->
                <div class="mobile-menu-trigger">
                    <span></span>
                </div>
                <!-- end Mobile menu trigger -->
                <div class="logo">
                    <a href="#"></a>
                </div>
            
                <div class="search">
                    <form>
                        <input class="text" type="text" placeholder="Поиск">
                        <button class="submit" type="submit"><span class="icon-search"></span></button>
                    </form>
                </div>
            
                <div class="map">
                    <a href="#" class="sidebar-map">
                        <span class="burger"><span></span></span>
                        <span class="label">Карта сайта</span>
                    </a>
                </div>
            
                <div class="menu">
                    <div class="item">
                        <a class="services" href="#">
                            <span class="icon"></span>
                            <span class="label">Услуги</span>
                        </a>
                    </div>
                    <div class="item">
                        <a class="productions current" href="#">
                            <span class="icon"></span>
                            <span class="label">Продукция</span>
                        </a>
                    </div>
                    <div class="item">
                        <a class="news" href="#">
                            <span class="icon"></span>
                            <span class="label">Пресс-центр</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="m_content">
                <!-- Header -->
                <div class="m_header-inner">
                    <div class="top">
                        <div class="lang">
                            <div class="current"><a href="#"><span>РУС</span></a></div>
                            <div><a href="#"><span>ENG</span></a></div>
                        </div>
                        <ul class="nav">
                            <li><a href="#">Карьера</a></li>
                            <li><a href="#">Контактная информация</a></li>
                        </ul>
                    </div>
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">СПАРК</a></li>
                            <li><span>История</span></li>
                        </ul>
                        <div class="mobile">
                            <a href="#">История</a>
                        </div>
                    </div>
                </div>
                <!-- end Header -->

                <!-- Section nav -->
                <div class="m_section-nav">
                    <ul>
                        <li><a href="#"><span>Руководство</span></a></li>
                        <li class="current"><a href="#"><span>История</span></a></li>
                        <li><a href="#"><span>Деятельность компании</span></a></li>
                    </ul>
                </div>
                <!-- end Section nav -->

                <!-- Main content -->
                <main class="content">
                    <div class="headling mobile-hidden pt0">История</div>
                    <div class="m_history">
                        <div class="slogan">АО «СПАРК» - верность традициям и стремительное развитие</div>
                        <ul class="timelime">
                            <li>
                                <div class="date">4 июня 1931</div>
                                <div class="value">Приказом №364 Начальника УКГВФ авиационные ремонтные предприятия Ленинграда реорганизованы в Авиационно-ремонтную базу ГВФ.</div>
                            </li>

                            <li>
                                <div class="date">15 августа 1931</div>
                                <div class="value">Начало функционирования АРБ ГВФ.</div>
                            </li>

                            <li>
                                <div class="date">1 июня 1934</div>
                                <div class="value">Переименование АРБ в Ленинградские авиаремонтные мастерские ГВФ.</div>
                                <div class="images single">
                                    <div class="image" style="background-image: url('../images/content/history/1.jpg')"></div>
                                </div>
                            </li>
                            <li>
                                <div class="date">1931-1941</div>
                                <div class="value">Ремонт самолетов У-2, П-5, Ш-2, МП-11 и авиадвигателей М-5, М-11, мелкосерийное производство самолетов-амфибий Ш-2.</div>
                            </li>

                            <li>
                                <div class="date">1941-1944</div>
                                <div class="value">Эвакуация ЛАРМ в Иркутск и Вологду. Ремонт самолетов Ш-2, У-2, Р-5, АНТ-9 и сборка после восстановительного ремонта Г-1 и ДБ-3/ДБ-3ф. Перебазирование части завода из Иркутска в Свердловск и образование там АРБ №404 ГВФ (ныне – ОАО «Уральский завод Гражданской авиации»). Образование в Вологде передвижных авиаремонтных мастерских ПАРМ-1, позднее – ПАРМ-79. Перевод ПАРМ-79 в Ленинград.</div>
                                <div class="images half">
                                    <div class="image" style="background-image: url('../images/content/history/2.jpg')"></div>
                                    <div class="image" style="background-image: url('../images/content/history/3.jpg')"></div>
                                </div>
                            </li>

                            <li>
                                <div class="date">1945</div>
                                <div class="value">Переименование ПАРМ-79 в ЛАРМ №21 СУ ГВФ.</div>
                            </li>

                            <li>
                                <div class="date">1945-1958</div>
                                <div class="value">Сборка самолетов У-2 (По-2) и Ш-2, ремонт самолетов Як-12, Ан-2, Ли-2, Ил-14 и моторов М-11, АИ-14.</div>
                            </li>

                            <li>
                                <div class="date">1958-1985</div>
                                <div class="value">Капитальный ремонт вертолетов Ми-4.</div>
                            </li>

                            <li>
                                <div class="date">1959-1968</div>
                                <div class="value">Капитальный ремонт вертолетов Ка-15 и Ка-18.</div>
                            </li>

                            <li>
                                <div class="date">с 1967</div>
                                <div class="value">Капитальный ремонт вертолетов Ми-8 всех серий и модификаций</div>
                            </li>

                            <li>
                                <div class="date">1968</div>
                                <div class="value">Преобразование АРМ в завод № 21 Гражданской Авиации</div>
                            </li>

                            <li>
                                <div class="date">1968</div>
                                <div class="value">Определение завода ведущим предприятием Министерства Гражданской Авиации по капитальному ремонту вертолетов Ми-8</div>
                            </li>

                            <li>
                                <div class="date">с 1989</div>
                                <div class="value">Капитальный ремонт вертолетов Ка-32Т и Ка-32С</div>
                            </li>

                            <li>
                                <div class="date">с 1990</div>
                                <div class="value">Капитальный ремонт вертолетов Ми-8МТ/Ми-17 всех модификаций</div>
                            </li>

                            <li>
                                <div class="date">1993</div>
                                <div class="value">Преобразование завода № 21 в Санкт-Петербургскую авиаремонтную компанию ОАО «СПАРК»</div>
                            </li>

                            <li>
                                <div class="date">1998-2003</div>
                                <div class="value">Полномасштабная реконструкция и модернизация производства.</div>
                            </li>

                            <li>
                                <div class="date">1999</div>
                                <div class="value">ОАО «СПАРК» первым в России взяло на себя гарантийные обязательства на полный межремонтный ресурс.</div>
                            </li>

                            <li>
                                <div class="date">2000</div>
                                <div class="value">Введен в строй специализированный вертолетный Учебный центр международного класса.</div>
                            </li>

                            <li>
                                <div class="date">2001</div>
                                <div class="value">Разработан первый в мире комплексный тренажер вертолета Ми-8МТВ/Ми-17 нового поколения.</div>
                            </li>

                            <li>
                                <div class="date">2001</div>
                                <div class="value">Разработан проект поставки «под ключ» Сервисного центра по техобслуживанию и ремонту вертолетов на базе Заказчика.</div>
                            </li>

                            <li>
                                <div class="date">2002</div>
                                <div class="value">Получен сертификат № 001 ГСГА МТ РФ на тренажер вертолета Ми-8МТВ/Ми-17.</div>
                            </li>

                            <li>
                                <div class="date">2002</div>
                                <div class="value">Получена лицензия № 001 ГСГА МТ РФ на право осуществлять капитальный ремонт вертолетов.</div>
                            </li>

                            <li>
                                <div class="date">2003</div>
                                <div class="value">Получена лицензия № 2640 Российского Авиационно-Космического Агентства на ремонт вооружения и военной техники</div>
                            </li>

                            <li>
                                <div class="date">2004</div>
                                <div class="value">Федеральной службой по надзору в сфмере транспорта одобрено создание на базе ОАО «СПАРК» Центра технического обслуживания и ремонта авиационной техники.</div>
                            </li>

                            <li>
                                <div class="date">2005</div>
                                <div class="value">Получен сертификат ФСНСТ о соответствии ОАО «СПАРК» требованиям законодательства РФ по гражданской авиации.</div>
                            </li>
                        </ul>
                    </div>
                </main>
                <!-- end Main content -->
            </div>
        </div>
        <div class="m_footer">
            <div class="left">
                <div class="copy">© 2016 Акционерное общество «СПАРК».</div>
                <div class="locate">Россия, Санкт-Петербург, ул. Пилотов, 12,</div>
                <div class="at-map">
                    <a href="#">Смотреть на карте</a>
                </div>
                <div class="contacts">
                    <div class="tel">Тел.: <span>+7 (812) 704-16-44</span></div>
                    <div class="fax">Факс: <span>+7 (812) 334-49-60</span></div>
                    <div class="email">Email: <a href="mailto:info@sparc-npo.ru">info@sparc-npo.ru</a></div>
                </div>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="#"><span>СПАРК</span></a></li>
                    <li><a href="#"><span>НПО СПАРК</span></a></li>
                    <li><a href="#"><span>Пресс-центр</span></a></li>
                    <li><a href="#"><span>Карьера</span></a></li>
                    <li><a href="#"><span>Контактная информация</span></a></li>
                </ul>
                <ul>
                    <li><a href="#"><span>Продукция</span></a></li>
                    <li><a href="#"><span>Услуги</span></a></li>
                </ul>
            </div>
            <div class="developed">Разработка сайта <a target="_blank" href="http://pikmedia.ru/">«Пикмедиа»</a></div>
            <!-- Mobile menu trigger -->
            <div class="mobile-menu-trigger invert">
                <span></span>
            </div>
            <!-- end Mobile menu trigger -->
        </div>
    </div>
</body>
</html>