<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>Новости</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <link href="../styles/vendor.css" rel="stylesheet" media="all">
    <link href="../styles/app.css" rel="stylesheet" media="all">
    <!-- Javascript -->
    <script src="../scripts/plugins.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body>
    <div class="body-layout"></div>
    <div class="container">
        <div class="main">
            <div class="m_map-menu">
                <div class="search">
                    <form>
                        <input class="text" type="text" placeholder="Поиск">
                        <button class="submit" type="submit"><span class="icon-search"></span></button>
                    </form>
                </div>
                <div class="lead-nav">
                    <ul>
                        <li><a href="http://frontende.info/sparcavia.com/">Главная</a></li>
                        <li><a href="#">Карьера</a></li>
                        <li><a href="#">Пресс-центр</a></li>
                        <li><a href="#">Контактная <br>информация</a></li>
                    </ul>
                </div>
                <div class="all-links">
                    <div class="col">
                        <div class="category">
                            <a href="#">СПАРК</a>
                        </div>
                        <ul>
                            <li><a href="#">Руководство</a></li>
                            <li><a href="#">История</a></li>
                            <li><a href="#">Деятельность компании</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="category">
                            <a href="#">НПО СПАРК</a>
                        </div>
                        <ul>
                            <li><a href="#">Руководство</a></li>
                            <li><a href="#">Отдел новой техники</a></li>
                            <li><a href="#">Отдел инновационных <br>технологий</a></li>
                            <li><a href="#">Учебный центр</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="category">
                            <a href="#">Услуги</a>
                        </div>
                        <ul>
                            <li><a href="#">Ремонт</a></li>
                            <li><a href="#">Продажа</a></li>
                            <li><a href="#">Модернизация</a></li>
                            <li><a href="#">Продление ресурсов</a></li>
                            <li><a href="#">Техническая поддержка</a></li>
                            <li><a href="#">Переоборудование <br>салонов</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="category">
                            <a href="#">Продукция</a>
                        </div>
                        <ul>
                            <li><a href="#">УИС-АТ</a></li>
                            <li><a href="#">КПК</a></li>
                            <li><a href="#">КПС</a></li>
                            <li><a href="#">ИП (измерительные пульты)</a></li>
                            <li><a href="#">ИП-3 (СПАРК-ВИДЕО)</a></li>
                            <li><a href="#">ИП-4 (СПАРК-КОНУС)</a></li>
                            <li><a href="#">УПГ-8нов</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m_sidebar-shadow"></div>
            <div class="m_sidebar">
                <div class="sidebar-layout"></div>
                <!-- Mobile menu trigger -->
                <div class="mobile-menu-trigger">
                    <span></span>
                </div>
                <!-- end Mobile menu trigger -->
                <div class="logo">
                    <a href="#"></a>
                </div>
            
                <div class="search">
                    <form>
                        <input class="text" type="text" placeholder="Поиск">
                        <button class="submit" type="submit"><span class="icon-search"></span></button>
                    </form>
                </div>
            
                <div class="map">
                    <a href="#" class="sidebar-map">
                        <span class="burger"><span></span></span>
                        <span class="label">Карта сайта</span>
                    </a>
                </div>
            
                <div class="menu">
                    <div class="item">
                        <a class="services" href="#">
                            <span class="icon"></span>
                            <span class="label">Услуги</span>
                        </a>
                    </div>
                    <div class="item">
                        <a class="productions current" href="#">
                            <span class="icon"></span>
                            <span class="label">Продукция</span>
                        </a>
                    </div>
                    <div class="item">
                        <a class="news" href="#">
                            <span class="icon"></span>
                            <span class="label">Пресс-центр</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="m_content">
                <!-- Header -->
                <div class="m_header-inner">
                    <div class="top">
                        <div class="lang">
                            <div class="current"><a href="#"><span>РУС</span></a></div>
                            <div><a href="#"><span>ENG</span></a></div>
                        </div>
                        <ul class="nav">
                            <li><a href="#">Карьера</a></li>
                            <li><a href="#">Контактная информация</a></li>
                        </ul>
                    </div>
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">Главная</a></li>
                            <li><span>Пресс-центр</span></li>
                        </ul>
                        <div class="mobile">
                            <a href="#">Пресс-центр</a>
                        </div>
                    </div>
                </div>
                <!-- end Header -->

                <!-- Main content -->
                <main class="content">
                    <div class="m_page-header">
                        <div class="headling mobile-hidden inline">Пресс-центр</div>

                        <div class="m_section-nav">
                            <ul>
                                <li class="current"><a href="#"><span>2016</span></a></li>
                                <li><a href="#"><span>2015</span></a></li>
                                <li><a href="#"><span>2014</span></a></li>
                                <li><a href="#"><span>2013</span></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="m_news-list full">
                        <!-- Single -->
                        <div class="item single">
                            <div class="m_item">
                                <div class="image">
                                    <a href="#" style="background-image: url('../images/content/news/1.jpg')"></a>
                                    <a class="hover" href="#" style="background-image: url('../images/content/news/8.jpg')"></a>
                                </div>
                                <div class="description">
                                    <div class="parent-helper">
                                        <div class="helper">
                                            <div class="title">
                                                <a href="#"><span>Премия Ассоциации вертолетной индустрии за 2014 год, в номинации «Инженер-конструктор</span></a>
                                            </div>
                                            <div class="post-date">11 марта 2016</div>
                                            <p>Делегация Республики Беларусь во главе с Премьер-министром Андреем Кобяковым в ходе официального визита в Республику Татарстан посетила Казанский вертолетный завод (КВЗ), входящий в холдинг «Вертолеты России» Госкорпорации Ростех. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end Single -->

                        <!-- 1 of 3 -->
                        <div class="item col-1-of-3">
                            <div class="m_item">
                                <div class="description">
                                    <div class="title">
                                        <a href="#"><span>Сервисный центр авторизованный производителем вертолетов ROBINSON</span></a>
                                    </div>
                                    <div class="post-date">11 марта 2016</div>
                                </div>
                                <div class="image">
                                    <a href="#" style="background-image: url('../images/content/news/3.jpg')"></a>
                                    <a class="hover" href="#" style="background-image: url('../images/content/news/5.jpg')"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item col-1-of-3">
                            <div class="m_item">
                                <div class="description">
                                    <div class="title">
                                        <a href="#"><span>Сервисный центр авторизованный производителем вертолетов ROBINSON</span></a>
                                    </div>
                                    <div class="post-date">11 марта 2016</div>
                                </div>
                                <div class="image">
                                    <a href="#" style="background-image: url('../images/content/news/4.jpg')"></a>
                                    <a class="hover" href="#" style="background-image: url('../images/content/news/6.jpg')"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item col-1-of-3">
                            <div class="m_item">
                                <div class="description">
                                    <div class="title">
                                        <a href="#"><span>Сервисный центр авторизованный производителем вертолетов ROBINSON</span></a>
                                    </div>
                                    <div class="post-date">11 марта 2016</div>
                                </div>
                                <div class="image">
                                    <a href="#" style="background-image: url('../images/content/news/5.jpg')"></a>
                                    <a class="hover" href="#" style="background-image: url('../images/content/news/7.jpg')"></a>
                                </div>
                            </div>
                        </div>
                        <!-- end 1 of 3 -->

                        <!-- Single -->
                        <div class="item single">
                            <div class="m_item">
                                <div class="description">
                                    <div class="parent-helper">
                                        <div class="helper">
                                            <div class="title">
                                                <a href="#"><span>Официальный визит в Республику Татарстан. Казанский вертолетный завод (КВЗ). </span></a>
                                            </div>
                                            <div class="post-date">11 марта 2016</div>
                                            <p>Делегация Республики Беларусь во главе с Премьер-министром Андреем Кобяковым в ходе официального визита в Республику Татарстан посетила Казанский вертолетный завод (КВЗ), входящий в холдинг «Вертолеты России» Госкорпорации Ростех. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="image">
                                    <a href="#" style="background-image: url('../images/content/news/2.jpg')"></a>
                                    <a class="hover" href="#" style="background-image: url('../images/content/news/9.jpg')"></a>
                                </div>
                            </div>
                        </div>
                        <!-- end Single -->

                        <!-- 1 of 3 -->
                        <div class="item col-1-of-3">
                            <div class="m_item">
                                <div class="description">
                                    <div class="title">
                                        <a href="#"><span>Сервисный центр авторизованный производителем вертолетов ROBINSON</span></a>
                                    </div>
                                    <div class="post-date">11 марта 2016</div>
                                </div>
                                <div class="image">
                                    <a href="#" style="background-image: url('../images/content/news/6.jpg')"></a>
                                    <a class="hover" href="#" style="background-image: url('../images/content/news/10.jpg')"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item col-1-of-3">
                            <div class="m_item">
                                <div class="description">
                                    <div class="title">
                                        <a href="#"><span>Сервисный центр авторизованный производителем вертолетов ROBINSON</span></a>
                                    </div>
                                    <div class="post-date">11 марта 2016</div>
                                </div>
                                <div class="image">
                                    <a href="#" style="background-image: url('../images/content/news/7.jpg')"></a>
                                    <a class="hover" href="#" style="background-image: url('../images/content/news/11.jpg')"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item col-1-of-3">
                            <div class="m_item">
                                <div class="description">
                                    <div class="title">
                                        <a href="#"><span>Сервисный центр авторизованный производителем вертолетов ROBINSON</span></a>
                                    </div>
                                    <div class="post-date">11 марта 2016</div>
                                </div>
                                <div class="image">
                                    <a href="#" style="background-image: url('../images/content/news/8.jpg')"></a>
                                    <a class="hover" href="#" style="background-image: url('../images/content/news/4.jpg')"></a>
                                </div>
                            </div>
                        </div>
                        <!-- end 1 of 3 -->
                    </div>

                    <div class="m_paginations">
                        <button class="prev"><</button>
                        <ul class="normal">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li class="current"><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                        </ul>
                        <ul class="mobile">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li class="current"><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                        <button class="next">></button>
                    </div>
                </main>
                <!-- end Main content -->
            </div>
        </div>
        <div class="m_footer">
            <div class="left">
                <div class="copy">© 2016 Акционерное общество «СПАРК».</div>
                <div class="locate">Россия, Санкт-Петербург, ул. Пилотов, 12,</div>
                <div class="at-map">
                    <a href="#">Смотреть на карте</a>
                </div>
                <div class="contacts">
                    <div class="tel">Тел.: <span>+7 (812) 704-16-44</span></div>
                    <div class="fax">Факс: <span>+7 (812) 334-49-60</span></div>
                    <div class="email">Email: <a href="mailto:info@sparc-npo.ru">info@sparc-npo.ru</a></div>
                </div>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="#"><span>СПАРК</span></a></li>
                    <li><a href="#"><span>НПО СПАРК</span></a></li>
                    <li><a href="#"><span>Пресс-центр</span></a></li>
                    <li><a href="#"><span>Карьера</span></a></li>
                    <li><a href="#"><span>Контактная информация</span></a></li>
                </ul>
                <ul>
                    <li><a href="#"><span>Продукция</span></a></li>
                    <li><a href="#"><span>Услуги</span></a></li>
                </ul>
            </div>
            <div class="developed">Разработка сайта <a target="_blank" href="http://pikmedia.ru/">«Пикмедиа»</a></div>
            <!-- Mobile menu trigger -->
            <div class="mobile-menu-trigger invert">
                <span></span>
            </div>
            <!-- end Mobile menu trigger -->
        </div>
    </div>
</body>
</html>