<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>Продукция</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <link href="../styles/vendor.css" rel="stylesheet" media="all">
    <link href="../styles/app.css" rel="stylesheet" media="all">
    <!-- Javascript -->
    <script src="../scripts/plugins.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body>
    <div class="body-layout"></div>
    <div class="container">
        <div class="main">
            <div class="m_map-menu">
                <div class="search">
                    <form>
                        <input class="text" type="text" placeholder="Поиск">
                        <button class="submit" type="submit"><span class="icon-search"></span></button>
                    </form>
                </div>
                <div class="lead-nav">
                    <ul>
                        <li><a href="http://frontende.info/sparcavia.com/">Главная</a></li>
                        <li><a href="#">Карьера</a></li>
                        <li><a href="#">Пресс-центр</a></li>
                        <li><a href="#">Контактная <br>информация</a></li>
                    </ul>
                </div>
                <div class="all-links">
                    <div class="col">
                        <div class="category">
                            <a href="#">СПАРК</a>
                        </div>
                        <ul>
                            <li><a href="#">Руководство</a></li>
                            <li><a href="#">История</a></li>
                            <li><a href="#">Деятельность компании</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="category">
                            <a href="#">НПО СПАРК</a>
                        </div>
                        <ul>
                            <li><a href="#">Руководство</a></li>
                            <li><a href="#">Отдел новой техники</a></li>
                            <li><a href="#">Отдел инновационных <br>технологий</a></li>
                            <li><a href="#">Учебный центр</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="category">
                            <a href="#">Услуги</a>
                        </div>
                        <ul>
                            <li><a href="#">Ремонт</a></li>
                            <li><a href="#">Продажа</a></li>
                            <li><a href="#">Модернизация</a></li>
                            <li><a href="#">Продление ресурсов</a></li>
                            <li><a href="#">Техническая поддержка</a></li>
                            <li><a href="#">Переоборудование <br>салонов</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="category">
                            <a href="#">Продукция</a>
                        </div>
                        <ul>
                            <li><a href="#">УИС-АТ</a></li>
                            <li><a href="#">КПК</a></li>
                            <li><a href="#">КПС</a></li>
                            <li><a href="#">ИП (измерительные пульты)</a></li>
                            <li><a href="#">ИП-3 (СПАРК-ВИДЕО)</a></li>
                            <li><a href="#">ИП-4 (СПАРК-КОНУС)</a></li>
                            <li><a href="#">УПГ-8нов</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m_sidebar-shadow"></div>
            <div class="m_sidebar">
                <div class="sidebar-layout"></div>
                <!-- Mobile menu trigger -->
                <div class="mobile-menu-trigger">
                    <span></span>
                </div>
                <!-- end Mobile menu trigger -->
                <div class="logo">
                    <a href="#"></a>
                </div>
            
                <div class="search">
                    <form>
                        <input class="text" type="text" placeholder="Поиск">
                        <button class="submit" type="submit"><span class="icon-search"></span></button>
                    </form>
                </div>
            
                <div class="map">
                    <a href="#" class="sidebar-map">
                        <span class="burger"><span></span></span>
                        <span class="label">Карта сайта</span>
                    </a>
                </div>
            
                <div class="menu">
                    <div class="item">
                        <a class="services" href="#">
                            <span class="icon"></span>
                            <span class="label">Услуги</span>
                        </a>
                    </div>
                    <div class="item">
                        <a class="productions current" href="#">
                            <span class="icon"></span>
                            <span class="label">Продукция</span>
                        </a>
                    </div>
                    <div class="item">
                        <a class="news" href="#">
                            <span class="icon"></span>
                            <span class="label">Пресс-центр</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="m_content">
                <!-- Header -->
                <div class="m_header-inner">
                    <div class="top">
                        <div class="lang">
                            <div class="current"><a href="#"><span>РУС</span></a></div>
                            <div><a href="#"><span>ENG</span></a></div>
                        </div>
                        <ul class="nav">
                            <li><a href="#">Карьера</a></li>
                            <li><a href="#">Контактная информация</a></li>
                        </ul>
                    </div>
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">Главная</a></li>
                            <li><span>Продукция</span></li>
                        </ul>
                        <div class="mobile">
                            <a href="#">Продукция</a>
                        </div>
                    </div>
                </div>
                <!-- end Header -->

                <!-- Main content -->
                <main class="content">
                    <!-- Tabs controls -->
                    <div class="m_tabs-control">
                        <div class="headling inline mobile-hidden">Продукция</div>

                        <div class="m_section-nav">
                            <ul>
                                <li class="current"><a href="#"><span>АО СПАРК</span></a></li>
                                <li><a href="#"><span>НПО СПАРК</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end Tabs controls -->

                    <!-- Tabs content -->
                    <div class="m_tabs-content">
                        <div class="tabs-item current">
                            <div class="m_productions-list">
                                <div class="item">
                                    <a href="#">
                                        <span class="icon">
                                            <img class="normal" src="../images/content/prod/1.png" alt="">
                                            <img class="hover" src="../images/content/prod/1-hover.png" alt="">
                                        </span>
                                        <span class="label"><span class="underline">Сервисные центры</span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-item">
                            <div class="m_productions-list">
                                <div class="item">
                                    <a href="#">
                                        <span class="icon">
                                            <img class="normal" src="../images/content/prod/2.png" alt="">
                                            <img class="hover" src="../images/content/prod/2-hover.png" alt="">
                                        </span>
                                        <span class="label"><span class="underline">СПАРК-ВИДЕО</span></span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <span class="icon">
                                            <img class="normal" src="../images/content/prod/3.png" alt="">
                                            <img class="hover" src="../images/content/prod/3-hover.png" alt="">
                                        </span>
                                        <span class="label"><span class="underline">СПАРК-КОНУС-М</span></span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <span class="icon">
                                            <img class="normal" src="../images/content/prod/4.png" alt="">
                                            <img class="hover" src="../images/content/prod/4-hover.png" alt="">
                                        </span>
                                        <span class="label"><span class="underline">ИП (Измерительные пульты)</span></span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <span class="icon">
                                            <img class="normal" src="../images/content/prod/5.png" alt="">
                                            <img class="hover" src="../images/content/prod/5-hover.png" alt="">
                                        </span>
                                        <span class="label"><span class="underline">КПК (Контрольно-проверочный комплекс)</span></span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <span class="icon">
                                            <img class="normal" src="../images/content/prod/6.png" alt="">
                                            <img class="hover" src="../images/content/prod/6-hover.png" alt="">
                                        </span>
                                        <span class="label"><span class="underline">УПГ-8 (Установка для проверки и испытания гироскопического оборудования)</span></span>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <span class="icon">
                                            <img class="normal" src="../images/content/prod/7.png" alt="">
                                            <img class="hover" src="../images/content/prod/7-hover.png" alt="">
                                        </span>
                                        <span class="label"><span class="underline">Лаборатория модульного типа с размещением 3D панорамы</span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end Tabs content -->
                </main>
                <!-- end Main content -->
            </div>
        </div>
        <div class="m_footer">
            <div class="left">
                <div class="copy">© 2016 Акционерное общество «СПАРК».</div>
                <div class="locate">Россия, Санкт-Петербург, ул. Пилотов, 12,</div>
                <div class="at-map">
                    <a href="#">Смотреть на карте</a>
                </div>
                <div class="contacts">
                    <div class="tel">Тел.: <span>+7 (812) 704-16-44</span></div>
                    <div class="fax">Факс: <span>+7 (812) 334-49-60</span></div>
                    <div class="email">Email: <a href="mailto:info@sparc-npo.ru">info@sparc-npo.ru</a></div>
                </div>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="#"><span>СПАРК</span></a></li>
                    <li><a href="#"><span>НПО СПАРК</span></a></li>
                    <li><a href="#"><span>Пресс-центр</span></a></li>
                    <li><a href="#"><span>Карьера</span></a></li>
                    <li><a href="#"><span>Контактная информация</span></a></li>
                </ul>
                <ul>
                    <li><a href="#"><span>Продукция</span></a></li>
                    <li><a href="#"><span>Услуги</span></a></li>
                </ul>
            </div>
            <div class="developed">Разработка сайта <a target="_blank" href="http://pikmedia.ru/">«Пикмедиа»</a></div>
            <!-- Mobile menu trigger -->
            <div class="mobile-menu-trigger invert">
                <span></span>
            </div>
            <!-- end Mobile menu trigger -->
        </div>
    </div>
</body>
</html>