<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>Карьера</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <link href="../styles/vendor.css" rel="stylesheet" media="all">
    <link href="../styles/app.css" rel="stylesheet" media="all">
    <!-- Javascript -->
    <script src="../scripts/plugins.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body>
    <div class="body-layout"></div>
    <div class="container">
        <div class="main">
            <div class="m_map-menu">
                <div class="search">
                    <form>
                        <input class="text" type="text" placeholder="Поиск">
                        <button class="submit" type="submit"><span class="icon-search"></span></button>
                    </form>
                </div>
                <div class="lead-nav">
                    <ul>
                        <li><a href="http://frontende.info/sparcavia.com/">Главная</a></li>
                        <li><a href="#">Карьера</a></li>
                        <li><a href="#">Пресс-центр</a></li>
                        <li><a href="#">Контактная <br>информация</a></li>
                    </ul>
                </div>
                <div class="all-links">
                    <div class="col">
                        <div class="category">
                            <a href="#">СПАРК</a>
                        </div>
                        <ul>
                            <li><a href="#">Руководство</a></li>
                            <li><a href="#">История</a></li>
                            <li><a href="#">Деятельность компании</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="category">
                            <a href="#">НПО СПАРК</a>
                        </div>
                        <ul>
                            <li><a href="#">Руководство</a></li>
                            <li><a href="#">Отдел новой техники</a></li>
                            <li><a href="#">Отдел инновационных <br>технологий</a></li>
                            <li><a href="#">Учебный центр</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="category">
                            <a href="#">Услуги</a>
                        </div>
                        <ul>
                            <li><a href="#">Ремонт</a></li>
                            <li><a href="#">Продажа</a></li>
                            <li><a href="#">Модернизация</a></li>
                            <li><a href="#">Продление ресурсов</a></li>
                            <li><a href="#">Техническая поддержка</a></li>
                            <li><a href="#">Переоборудование <br>салонов</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="category">
                            <a href="#">Продукция</a>
                        </div>
                        <ul>
                            <li><a href="#">УИС-АТ</a></li>
                            <li><a href="#">КПК</a></li>
                            <li><a href="#">КПС</a></li>
                            <li><a href="#">ИП (измерительные пульты)</a></li>
                            <li><a href="#">ИП-3 (СПАРК-ВИДЕО)</a></li>
                            <li><a href="#">ИП-4 (СПАРК-КОНУС)</a></li>
                            <li><a href="#">УПГ-8нов</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m_sidebar-shadow"></div>
            <div class="m_sidebar">
                <div class="sidebar-layout"></div>
                <!-- Mobile menu trigger -->
                <div class="mobile-menu-trigger">
                    <span></span>
                </div>
                <!-- end Mobile menu trigger -->
                <div class="logo">
                    <a href="#"></a>
                </div>
            
                <div class="search">
                    <form>
                        <input class="text" type="text" placeholder="Поиск">
                        <button class="submit" type="submit"><span class="icon-search"></span></button>
                    </form>
                </div>
            
                <div class="map">
                    <a href="#" class="sidebar-map">
                        <span class="burger"><span></span></span>
                        <span class="label">Карта сайта</span>
                    </a>
                </div>
            
                <div class="menu">
                    <div class="item">
                        <a class="services" href="#">
                            <span class="icon"></span>
                            <span class="label">Услуги</span>
                        </a>
                    </div>
                    <div class="item">
                        <a class="productions current" href="#">
                            <span class="icon"></span>
                            <span class="label">Продукция</span>
                        </a>
                    </div>
                    <div class="item">
                        <a class="news" href="#">
                            <span class="icon"></span>
                            <span class="label">Пресс-центр</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="m_content">
                <!-- Header -->
                <div class="m_header-inner">
                    <div class="top">
                        <div class="lang">
                            <div class="current"><a href="#"><span>РУС</span></a></div>
                            <div><a href="#"><span>ENG</span></a></div>
                        </div>
                        <ul class="nav">
                            <li><a href="#">Карьера</a></li>
                            <li><a href="#">Контактная информация</a></li>
                        </ul>
                    </div>
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">Главная</a></li>
                            <li><span>Карьера</span></li>
                        </ul>
                        <div class="mobile">
                            <a href="#">Карьера</a>
                        </div>
                    </div>
                </div>
                <!-- end Header -->

                <!-- Main content -->
                <main class="content">

                    <div class="headling mobile-hidden">Карьера</div>


                    <!-- Tabs control -->
                    <div class="m_tabs-control-small">
                        <div class="m_section-nav">
                            <ul>
                                <li class="tab-control current"><a href="#"><span>АО «СПАРК»</span></a></li>
                                <li class="tab-control"><a href="#"><span>АО «НПО СПАРК» </span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end Tabs control -->

                    <!-- Tabs content -->
                    <div class="m_tabs-content">
                        <div class="tabs-item current">
                            <div class="m_vacancy">
                                <div class="item">
                                    <div class="title"><a href="#"><span>Помощник специалиста по охране труда</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Заместитель директора</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Инжеренер-технолог</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Специалист АСУ</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Помощник специалиста по охране труда</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Заместитель директора</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Инжеренер-технолог</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Специалист АСУ</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Помощник специалиста по охране труда</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                            </div>
                            <div class="m_paginations">
                                <button class="prev"><</button>
                                <ul class="normal">
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li class="current"><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">6</a></li>
                                    <li><a href="#">7</a></li>
                                    <li><a href="#">8</a></li>
                                    <li><a href="#">9</a></li>
                                    <li><a href="#">10</a></li>
                                </ul>
                                <ul class="mobile">
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li class="current"><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul>
                                <button class="next">></button>
                            </div>
                        </div>
                        <div class="tabs-item">
                            <div class="m_vacancy">
                                <div class="item">
                                    <div class="title"><a href="#"><span>Специалист АСУ</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Специалист АСУ</span></a></div>
                                    <div class="summ">до 50 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Помощник специалиста по охране труда</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Заместитель директора</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Инжеренер-технолог</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Специалист АСУ</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Помощник специалиста по охране труда</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Заместитель директора</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Инжеренер-технолог</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                                <div class="item">
                                    <div class="title"><a href="#"><span>Помощник специалиста по охране труда</span></a></div>
                                    <div class="summ">до 100 000 руб.</div>
                                    <div class="description">Помощь в организации внешнего и внутреннего обучения сотрудников. Помощь в расследовании несчастных случаев. Помощь в проведение специальной оценки условий труда.<br>Желателен опыт работы в сфере охраны труда. Обязательное знание программ: Paint, Word, Excel, желательно 1С. Внимательность, усидчивость, ответственность.</div>
                                </div>
                            </div>
                            <div class="m_paginations">
                                <button class="prev"><</button>
                                <ul class="normal">
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li class="current"><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">6</a></li>
                                    <li><a href="#">7</a></li>
                                    <li><a href="#">8</a></li>
                                    <li><a href="#">9</a></li>
                                    <li><a href="#">10</a></li>
                                </ul>
                                <ul class="mobile">
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li class="current"><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                </ul>
                                <button class="next">></button>
                            </div>
                        </div>
                    </div>
                    <!-- end Tabs content -->
                </main>
                <!-- end Main content -->
            </div>
        </div>
        <div class="m_footer">
            <div class="left">
                <div class="copy">© 2016 Акционерное общество «СПАРК».</div>
                <div class="locate">Россия, Санкт-Петербург, ул. Пилотов, 12,</div>
                <div class="at-map">
                    <a href="#">Смотреть на карте</a>
                </div>
                <div class="contacts">
                    <div class="tel">Тел.: <span>+7 (812) 704-16-44</span></div>
                    <div class="fax">Факс: <span>+7 (812) 334-49-60</span></div>
                    <div class="email">Email: <a href="mailto:info@sparc-npo.ru">info@sparc-npo.ru</a></div>
                </div>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="#"><span>СПАРК</span></a></li>
                    <li><a href="#"><span>НПО СПАРК</span></a></li>
                    <li><a href="#"><span>Пресс-центр</span></a></li>
                    <li><a href="#"><span>Карьера</span></a></li>
                    <li><a href="#"><span>Контактная информация</span></a></li>
                </ul>
                <ul>
                    <li><a href="#"><span>Продукция</span></a></li>
                    <li><a href="#"><span>Услуги</span></a></li>
                </ul>
            </div>
            <div class="developed">Разработка сайта <a target="_blank" href="http://pikmedia.ru/">«Пикмедиа»</a></div>
            <!-- Mobile menu trigger -->
            <div class="mobile-menu-trigger invert">
                <span></span>
            </div>
            <!-- end Mobile menu trigger -->
        </div>
    </div>
</body>
</html>